{% extends "../not_found_base.html" %}
{% block page-css-class %}d-flex h-100 text-center text-white{% endblock %}
{% load static %}
{% load i18n %}
{% block title %} {% trans "404" %}{% endblock %}

{% block extra_css %}

{% endblock %}

{% block content %}
    <div class="px-3">

        <div class="top">


            <div class="block">


                <div class="content">
                    <img src="/media/images/404.jpg" alt="404 image">
                    <p id="nope">
                        {% trans 'Fortress cannot find that page' %}
                    </p>

                    <div class="mb-4">
                        <h3>Try a different door</h3>
                    </div>


                    <img src="/media/images/fortress_sefa_small.max-165x165.jpg" height="20px"
                         alt="fortress small logo">
                    <a id="link" href="/"><p class="ml2">Go to fortress-sefa.com >
                    </p></a>

                    {% include 'copyright_code.html' %}
                </div>


            </div>
        </div>

    </div>

{% endblock %}