{% extends "../not_found_base.html" %}
{% block page-css-class %}d-flex h-100 text-center text-white{% endblock %}

{% load i18n %}
{% block title %} {% trans "500" %}{% endblock %}

{% block content %}
    <div class="px-3">

        <div class="top">


            <div class="block">


                <div class="content">
                    <div class="image-info">
                        <div class="mr-5">
                            <h1>Error 500</h1>
                            Oops... something went wrong
                        </div>

                        <i class="fa fa-server fa-10x"></i>


                    </div>
                    <p id="nope" class="mt-5">
                        {% trans 'Internal Server Error' %}
                    </p>

                    <a id="link" href="/"><p class="ml2">Go to fortress-sefa.com >
                    </p></a>

                    {% include 'copyright_code.html' %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}