{% extends "../base.html" %}
{% load static %}
{% block page-css-class %}cover-container w-100 d-flex h-25 p-3 flex-column{% endblock %}
{% load wagtailcore_tags wagtailimages_tags %}
{% block body_class %}About{% endblock %}
{% block extra_css %}
    {# Override this in templates to add extra stylesheets #}
    <link rel="stylesheet" href='/static/css/about.css'>
    <link rel="stylesheet" href='/static/css/image-gallery.css'>

    <link rel="stylesheet" href='/static/css/slider.css'>
{% endblock %}
{% block extra_js %}
    {# Override this in templates to add extra javascript #}
{% endblock %}
{% block meta_descr %}
    Fortress SEFA history about us page. This is our recent history in timeline format

{% endblock %}

{% block content %}
    <h1 class="aboutHeading">
        {{ page.title }} FORTRESS-SEFA
    </h1>
    <div class="pastIntro flex-container alternative-colour">
        <div class="flex-item">
            <img class="pastImg pastBox" id="oldFortress" src="/media/original_images/nFortress old logo.PNG"
                 alt="old fortress logo">
        </div>
        <div class="flex-item">
            <div class="chat">
                <div class="mine messages">
                    <div class="message last pastBox">
                        <p>Fortress has a proud history dating back to 1969. Over the years we have expanded and adapted
                            to provide the best service for our clients.
                            Below is a timeline of some of the key moments in Fortress's history, leading up to the
                            present
                            day. </p>
                    </div>
                </div>
                <div class="yours messages">
                    <div class="message pastBox">
                        <p>Below you can see some of our older companies which represent our rich heritage within the
                            industry over the years.
                            Although the names may have changed, the ideals and standards remain the same.
                            Our commitment to innovation and development will continue to change the face of Fortress
                            group.</p>
                    </div>
                </div>
            </div>

        </div>
    </div>

    <div class="intro" id="aboutExtra" data-aos="fade-right">
        {{ page.extra|richtext }}
       {% comment %} <p class="content" contenteditable>
            This can be edited on view
        </p>{% endcomment %}
    </div>

    <div class="our-Brands alternative-colour">
        <h3 class="aboutHeading">
            Our Brand over time have expanded
        </h3>

        <div class="intro" data-aos="fade-left">
            {{ page.brands|richtext }}
        </div>


        {% comment %}<main class="container-snap full" id="gallery">
            <div class="child-snap">
                <div class="brand-image">
                    <img src="/media/images/tr_fortress sefa.png" class="item" alt="fortress sefa.jpg">


                </div>
                <div class="brand-desc">
                    Fortress SEFA controls our operations in the UK mainland. Branches include, Glasgow, Dundee,
                    Manchester
                    and London.
                </div>
            </div>
            <div class="child-snap">
                <div class="brand-image">
                    <img src="/media/images/tr_fortress doors.png" class="item" alt="fortress doors.jpg">

                </div>
                <div class="brand-desc">
                    Fortress Doors control our business in Ireland. The Irish Headquarters are located in Belfast.
                </div>
            </div>
            <div class="child-snap">
                <div class="brand-image">
                    <img src="/media/images/tr_fortress glass.png" class="item" alt="fortress glass.jpg">

                </div>
                <div class="brand-desc">
                    Fortress Glass technology provide services in glazing solutions, framing and curtain walls.
                </div>
            </div>
            <div class="child-snap">
                <div class="brand-image">
                    <img src="/media/images/tr_fasa.png" class="item" alt="fasa.jpg">

                </div>
                <div class="brand-desc">
                    Fortress Andersons Service agency provide all service and repairs for Fortress customers
                </div>
            </div>
            <div class="child-snap">
                <div class="brand-image">
                    <img src="/media/images/tr_pro-tec.png" class="item" alt="fortress axalux.jpg">

                </div>
                <div class="brand-desc">
                    Pro-Tec powder coating provide painting services for all Fortress products
                </div>
            </div>
            <div class="child-snap">
                <div class="brand-image">
                    <img src="/media/images/tr_fortress eco.png" class="item" alt="fortress axalux.jpg">

                </div>
                <div class="brand-desc">
                    Fortress Eco investigates ways to improve the environmental impact of all Fortress companies.
                </div>
            </div>
            <div class="child-snap">
                <div class="brand-image">
                    <img src="/media/images/fortaxa security.png" class="item" alt="fortress axalux.jpg">

                </div>
                <div class="brand-desc">
                    Fortaxa Security controls operations in Sweden with branches in Malmo, Goteborg, Uppsala and
                    Stockholm.
                </div>
            </div>
            <div class="child-snap">
                <div class="brand-image">
                    <img src="/media/images/tr_fortress axalux.png" class="item" alt="fortress axalux.jpg">

                </div>
                <div class="brand-desc">
                    Fortress Axalux controls operations in Poland with branches in Gdansk and Warsaw.
                </div>
            </div>
        </main>{% endcomment %}


        <div class="slider">
            <input type="radio" name="slider" title="slide1" checked="checked" class="slider__nav"/>
            <input type="radio" name="slider" title="slide2" class="slider__nav"/>
            <input type="radio" name="slider" title="slide3" class="slider__nav"/>
            <input type="radio" name="slider" title="slide4" class="slider__nav"/>
            <input type="radio" name="slider" title="slide4" class="slider__nav"/>
            <input type="radio" name="slider" title="slide4" class="slider__nav"/>
            <input type="radio" name="slider" title="slide4" class="slider__nav"/>
            <input type="radio" name="slider" title="slide4" class="slider__nav"/>
            <div class="slider__inner">
                <div class="slider__contents">
                    <img src="/media/images/tr_fortress sefa.png" class="item" alt="fortress sefa">
                    <h2 class="slider__caption">SEFA</h2>
                    <p class="slider__txt">Fortress SEFA controls our operations in the UK mainland. Branches include,
                        Glasgow, Dundee,
                        Manchester
                        and London.</p>
                </div>
                <div class="slider__contents">
                    <img src="/media/images/tr_fortress doors.png" class="item" alt="fortress doors">
                    <h2 class="slider__caption">Doors</h2>
                    <p class="slider__txt">Fortress Doors control our business in Ireland. The Irish Headquarters are
                        located in Belfast.</p>
                </div>
                <div class="slider__contents">
                    <img src="/media/images/tr_fortress glass.png" class="item" alt="fortress glass">

                    <h2 class="slider__caption">Glass</h2>
                    <p class="slider__txt"> Fortress Glass technology provide services in glazing solutions, framing and
                        curtain walls.</p>
                </div>
                <div class="slider__contents">
                    <img src="/media/images/tr_fasa.png" class="item" alt="fasa">
                    <h2 class="slider__caption">Service</h2>
                    <p class="slider__txt">Fortress Andersons Service agency provide all service and repairs for
                        Fortress customers</p>
                </div>
                <div class="slider__contents">
                    <img src="/media/images/tr_pro-tec.png" class="item" alt="pro-tec">
                    <h2 class="slider__caption">Pro-Tec</h2>
                    <p class="slider__txt">Pro-Tec powder coating provide painting services for all Fortress products
                    </p>
                </div>
                <div class="slider__contents">
                    <img src="/media/images/tr_fortress eco.png" class="item" alt="fortress eco">
                    <h2 class="slider__caption">Eco</h2>
                    <p class="slider__txt">Fortress Eco investigates ways to improve the environmental impact of all
                        Fortress companies.</p>
                </div>
                <div class="slider__contents">
                    <img src="/media/images/fortaxa security.png" class="item" alt="fortaxa security">
                    <h2 class="slider__caption">Security</h2>
                    <p class="slider__txt">Fortaxa Security controls operations in Sweden with branches in Malmo,
                        Goteborg, Uppsala and
                        Stockholm.</p>
                </div>
                <div class="slider__contents">
                    <img src="/media/images/tr_fortress axalux.png" class="item" alt="fortress axalux">
                    <h2 class="slider__caption">Axalux</h2>
                    <p class="slider__txt">Fortress Axalux controls operations in Poland with branches in Gdansk and
                        Warsaw.</p>
                </div>

            </div>
        </div>

    </div>

    <div class="global-partners">
        <h3 class="aboutHeading">
            We have Global Partners too
        </h3>
        <div class="flex-global" data-aos="fade-right">
            <img src="/media/images/amstel manuf.png" class="item" alt="amstel manuf">
            <img src="/media/images/cornell safe and secure.png" class="item" alt="cornell safe and secure">

        </div>
    </div>


    <div class="timeline" id="timeline">
        <div class="desktop">


            <div class="stem-wrapper">
                <div class="stem"></div>
                <div class="stem-background"></div>
            </div>


            <div class="section main-content">
                <div class="section-inner">


                    <div class="post-wrapper">

                        <article class="post start-icon">
                            <div class="stem-overlay">
                                <div class="icon"></div>
                                <div class="stem-mask"></div>
                            </div>

                            <div class="post-content">
                                <div class="entry-content">
                                    <p><br><br><br><br><br></p>
                                </div>
                            </div>
                        </article>

                        <article class="post nSeventy-icon">
                            <div class="stem-overlay">
                                <div class="icon"></div>
                                <div class="stem-mask"></div>
                            </div>

                            <div class="post-content" data-aos="zoom-in">
                                <p class="meta">Written yesterday at 8:56 pm</p>
                                <h2 class="post-title">Fortress Industries created</h2>
                                <div class="entry-content">
                                    <p>Fortress Industries created</p>
                                </div>
                            </div>
                        </article>

                        <article class="post nFive-icon" data-stem-color="green">
                            <div class="stem-overlay">
                                <div class="icon"></div>
                                <div class="stem-mask"></div>
                            </div>

                            <div class="post-content" data-aos="zoom-in">
                                <p class="meta">Written yesterday at 8:56 pm</p>
                                <h2 class="post-title">Creation of Fortress Pro-Tec power coating</h2>
                                <div class="entry-content">
                                    <p>Creation of Fortress Pro-Tec power coating</p>
                                </div>
                            </div>
                        </article>

                        <article class="post oThree-icon" data-stem-color="yellow">
                            <div class="stem-overlay">
                                <div class="icon"></div>
                                <div class="stem-mask"></div>
                            </div>

                            <div class="post-content" data-aos="zoom-in">
                                <p class="meta">Written yesterday at 8:56 pm</p>
                                <h2 class="post-title">Demerger of Fortress Industries creates Fortress Doors</h2>
                                <div class="entry-content">
                                    <p>Demerger of Fortress Industries creates Fortress Doors</p>
                                </div>
                            </div>
                        </article>

                        <article class="post oFive-icon" data-stem-color="white">
                            <div class="stem-overlay">
                                <div class="icon"></div>
                                <div class="stem-mask"></div>
                            </div>

                            <div class="post-content" data-aos="zoom-in">
                                <p class="meta">Written yesterday at 8:56 pm</p>
                                <h2 class="post-title">Creation of Fortress Andersons service Agency</h2>
                                <div class="entry-content">
                                    <p>Creation of Fortress Andersons service Agency</p>
                                </div>
                            </div>
                        </article>

                        <article class="post oSix-icon">
                            <div class="stem-overlay">
                                <div class="icon"></div>
                                <div class="stem-mask"></div>
                            </div>

                            <div class="post-content" data-aos="zoom-in">
                                <p class="meta">Written yesterday at 8:56 pm</p>
                                <h2 class="post-title">Merger with County Shutters</h2>
                                <div class="entry-content">
                                    <p>Merger with County Shutters</p>
                                </div>
                            </div>
                        </article>

                        <article class="post oSeven-icon" data-stem-color="green">
                            <div class="stem-overlay">
                                <div class="icon"></div>
                                <div class="stem-mask"></div>
                            </div>

                            <div class="post-content" data-aos="zoom-in">
                                <p class="meta">Written yesterday at 8:56 pm</p>
                                <h2 class="post-title">Creation of Fortress Glass</h2>
                                <div class="entry-content">
                                    <p>Creation of Fortress Glass</p>
                                </div>
                            </div>
                        </article>

                        <article class="post oEight-icon" data-stem-color="yellow">
                            <div class="stem-overlay">
                                <div class="icon"></div>
                                <div class="stem-mask"></div>
                            </div>

                            <div class="post-content" data-aos="zoom-in">
                                <p class="meta">Written yesterday at 8:56 pm</p>
                                <h2 class="post-title">Merger with Aable Roller Shutters</h2>
                                <div class="entry-content">
                                    <p>Merger with Aable Roller Shutters</p>
                                </div>
                            </div>
                        </article>

                        <article class="post ten-icon" data-stem-color="white">
                            <div class="stem-overlay">
                                <div class="icon"></div>
                                <div class="stem-mask"></div>
                            </div>

                            <div class="post-content" data-aos="zoom-in">
                                <p class="meta">Written yesterday at 8:56 pm</p>
                                <h2 class="post-title">Scotland to form Aable Fortress</h2>
                                <div class="entry-content">
                                    <p>Scotland to form Aable Fortress</p>
                                </div>
                            </div>
                        </article>

                        <article class="post thirteen-icon">
                            <div class="stem-overlay">
                                <div class="icon"></div>
                                <div class="stem-mask"></div>
                            </div>

                            <div class="post-content" data-aos="zoom-in">
                                <p class="meta">Written yesterday at 8:56 pm</p>
                                <h2 class="post-title">Merger with FortAXA Security Sweden</h2>
                                <div class="entry-content">
                                    <p>Merger with FortAXA Security Sweden</p>
                                </div>
                            </div>
                        </article>

                        <article class="post top-icon trigger-scroll-to-top" data-stem-color="green">
                            <div class="stem-overlay">
                                <div class="icon"></div>
                                <div class="stem-mask"></div>
                            </div>
                        </article>
                    </div> <!-- post-wrapper -->


                </div> <!-- section-inner -->
            </div> <!-- main-content -->
        </div>
        <div class="mobile">
            <div class="post-content">
                <div class="timeline-desc" data-aos="fade-up">
                    <h5 class="meta">1970</h5>
                    <h2 class="post-title">THE BEGINNING</h2>
                    <div class="entry-content">
                        <p>Fortress Industries created</p>
                    </div>
                </div>
            </div>
            <div class="post-content ">
                <div class="timeline-desc" data-aos="fade-up">
                    <h5 class="meta">1995</h5>
                    <h2 class="post-title">FORTRESS PRO-TEC</h2>
                    <div class="entry-content">
                        <p>Creation of Fortress Pro-Tec power coating</p>
                    </div>
                </div>
            </div>
            <div class="post-content ">
                <div class="timeline-desc" data-aos="fade-up">
                    <h5 class="meta">2003</h5>
                    <h2 class="post-title">FORTRESS DOORS</h2>
                    <div class="entry-content">
                        <p>Demerger of Fortress Industries creates Fortress Doors</p>
                    </div>
                </div>
            </div>
            <div class="post-content ">
                <div class="timeline-desc" data-aos="fade-up">
                    <h5 class="meta">2005</h5>
                    <h2 class="post-title">FORTRESS ANDERSONS</h2>
                    <div class="entry-content">
                        <p>Creation of Fortress Andersons service Agency</p>
                    </div>
                </div>
            </div>
            <div class="post-content ">
                <div class="timeline-desc" data-aos="fade-up">
                    <h5 class="meta">2006</h5>
                    <h2 class="post-title">COUNT SHUTTERS</h2>
                    <div class="entry-content">
                        <p>Merger with County Shutters</p>
                    </div>
                </div>
            </div>
            <div class="post-content ">
                <div class="timeline-desc" data-aos="fade-up">
                    <h5 class="meta">2007</h5>
                    <h2 class="post-title">FORTRESS GLASS</h2>
                    <div class="entry-content">
                        <p>Creation of Fortress Glass</p>
                    </div>
                </div>
            </div>
            <div class="post-content ">
                <div class="timeline-desc" data-aos="fade-up">
                    <h5 class="meta">2008</h5>
                    <h2 class="post-title">AABLE MERGE</h2>
                    <div class="entry-content">
                        <p>Merger with Aable Roller Shutters</p>
                    </div>
                </div>
            </div>
            <div class="post-content ">
                <div class="timeline-desc" data-aos="fade-up">
                    <h5 class="meta">2010</h5>
                    <h2 class="post-title">AABLE FORTRESS</h2>
                    <div class="entry-content">
                        <p>Scotland to form Aable Fortress</p>
                    </div>
                </div>
            </div>
            <div class="post-content ">
                <div class="timeline-desc" data-aos="fade-up">
                    <h5 class="meta">2013</h5>
                    <h2 class="post-title">SWEDEN EXPANSION</h2>
                    <div class="entry-content">
                        <p>Merger with FortAXA Security Sweden</p>
                    </div>
                </div>
            </div>

            <div id="scroll-down-animation">
              <span class="mouse">
                <span class="move"></span>
              </span>
            </div>
        </div>
    </div>


    <div class="pastClients" data-aos="fade-down">
        <div class="pastBox">
            <h2>Clients</h2>
            <p>As one of Europes leading door suppliers we have a long list of high profile clients who trust us
                with
                their
                business.
                Here is a list of just a few of them.</p>

            <div class="gallery">
                <div class="container">
                    {% for item in page.client_images.all %}
                        {% image item.image fill-100x100-c100 as img %}
                        <a href="{{ item.caption }}">
                            <img src="{{ img.url }}" class="item" alt="{{ img.alt }}">

                        </a>

                    {% endfor %}
                </div>
            </div>

        </div>
    </div>

{% endblock %}