{% extends "../base.html" %}
{% load static %}
{% block page-css-class %}cover-container w-100 d-flex h-25 p-3 flex-column{% endblock %}
{% load wagtailcore_tags wagtailimages_tags %}
{% block body_class %}About{% endblock %}
{% block extra_css %}
    {# Override this in templates to add extra stylesheets #}
    <link rel="stylesheet" href='/static/css/about.css'>
{% endblock %}
{% block extra_js %}
    {# Override this in templates to add extra javascript #}
{% endblock %}
{% block meta_descr %}
    Fortress SEFA About us. Links to socials and linkedin is included in this page.

{% endblock %}

{% block content %}
    <p>Fortress has a proud history dating back to 1969. Over the years we have expanded and adapted to provide the best service for our clients.
Below is a timeline of some of the key moments in Fortress's history, leading up to the present day. </p>
    <br><br><br><br><br><br><br><br>
    <br><br><br><br><br><br><br><br>
    <div class="timeline" id="timeline">


        <div class="stem-wrapper">
            <div class="stem"></div>
            <div class="stem-background"></div>
        </div>


        <div class="section main-content">
            <div class="section-inner">

                <div class="stem-padding"></div>

                <div class="post-wrapper">

                    <article class="post nSeventy-icon">
                        <div class="stem-overlay">
                            <div class="icon"></div>
                            <div class="stem-mask"></div>
                        </div>

                        <div class="post-content">
                            <p class="meta">Written yesterday at 8:56 pm</p>
                            <h2 class="post-title">This is my post title</h2>
                            <div class="entry-content">
                                <p>Fortress Industries created</p>
                            </div>
                        </div>
                    </article>

                    <article class="post nFive-icon" data-stem-color="green">
                        <div class="stem-overlay">
                            <div class="icon"></div>
                            <div class="stem-mask"></div>
                        </div>

                        <div class="post-content">
                            <p class="meta">Written yesterday at 8:56 pm</p>
                            <h2 class="post-title">This is my post title</h2>
                            <div class="entry-content">
                                <p>Creation of Fortress Pro-Tec power coating</p>
                            </div>
                        </div>
                    </article>

                    <article class="post oThree-icon" data-stem-color="yellow">
                        <div class="stem-overlay">
                            <div class="icon"></div>
                            <div class="stem-mask"></div>
                        </div>

                        <div class="post-content">
                            <p class="meta">Written yesterday at 8:56 pm</p>
                            <h2 class="post-title">This is my post title</h2>
                            <div class="entry-content">
                                <p>Demerger of Fortress Industries creates Fortress Doors</p>
                            </div>
                        </div>
                    </article>

                    <article class="post oFive-icon" data-stem-color="white">
                        <div class="stem-overlay">
                            <div class="icon"></div>
                            <div class="stem-mask"></div>
                        </div>

                        <div class="post-content">
                            <p class="meta">Written yesterday at 8:56 pm</p>
                            <h2 class="post-title">This is my post title</h2>
                            <div class="entry-content">
                                <p>Creation of Fortress Andersons service Agency</p>
                            </div>
                        </div>
                    </article>

                    <article class="post oSix-icon">
                        <div class="stem-overlay">
                            <div class="icon"></div>
                            <div class="stem-mask"></div>
                        </div>

                        <div class="post-content">
                            <p class="meta">Written yesterday at 8:56 pm</p>
                            <h2 class="post-title">This is my post title</h2>
                            <div class="entry-content">
                                <p>Merger with County Shutters</p>
                            </div>
                        </div>
                    </article>

                    <article class="post oSeven-icon" data-stem-color="green">
                        <div class="stem-overlay">
                            <div class="icon"></div>
                            <div class="stem-mask"></div>
                        </div>

                        <div class="post-content">
                            <p class="meta">Written yesterday at 8:56 pm</p>
                            <h2 class="post-title">This is my post title</h2>
                            <div class="entry-content">
                                <p>Creation of Fortress Glass</p>
                            </div>
                        </div>
                    </article>

                    <article class="post oEight-icon" data-stem-color="yellow">
                        <div class="stem-overlay">
                            <div class="icon"></div>
                            <div class="stem-mask"></div>
                        </div>

                        <div class="post-content">
                            <p class="meta">Written yesterday at 8:56 pm</p>
                            <h2 class="post-title">This is my post title</h2>
                            <div class="entry-content">
                                <p>Merger with Aable Roller Shutters</p>
                            </div>
                        </div>
                    </article>

                    <article class="post ten-icon" data-stem-color="white">
                        <div class="stem-overlay">
                            <div class="icon"></div>
                            <div class="stem-mask"></div>
                        </div>

                        <div class="post-content">
                            <p class="meta">Written yesterday at 8:56 pm</p>
                            <h2 class="post-title">This is my post title</h2>
                            <div class="entry-content">
                                <p>Scotland to form Aable Fortress</p>
                            </div>
                        </div>
                    </article>

                    <article class="post thirteen-icon">
                        <div class="stem-overlay">
                            <div class="icon"></div>
                            <div class="stem-mask"></div>
                        </div>

                        <div class="post-content">
                            <p class="meta">Written yesterday at 8:56 pm</p>
                            <h2 class="post-title">This is my post title</h2>
                            <div class="entry-content">
                                <p>Merger with FortAXA Security Sweden</p>
                            </div>
                        </div>
                    </article>

                    <article class="post top-icon trigger-scroll-to-top" data-stem-color="green">
                        <div class="stem-overlay">
                            <div class="icon"></div>
                            <div class="stem-mask"></div>
                        </div>
                    </article>
                </div> <!-- post-wrapper -->


            </div> <!-- section-inner -->
        </div> <!-- main-content -->

    </div>
    <p>More content</p>
    <br><br><br><br><br><br><br><br>
    <br><br><br><br><br><br><br><br>
    <br><br><br><br><br><br><br><br>
    <br><br><br><br><br><br><br><br>
    <br><br><br><br><br><br><br><br>
{% endblock %}