{% extends "../base.html" %}
{% load static %}
{% block page-css-class %}cover-container w-100 d-flex h-25 p-3 flex-column{% endblock %}
{% load wagtailcore_tags wagtailimages_tags %}
{% block body_class %}About{% endblock %}
{% block extra_css %}
    {# Override this in templates to add extra stylesheets #}
    <link rel="stylesheet" href='/static/css/about.css'>
{% endblock %}
{% block extra_js %}
    {# Override this in templates to add extra javascript #}
{% endblock %}
{% block meta_descr %}
    Fortress SEFA About us. Links to socials and linkedin is included in this page.

{% endblock %}

{% block content %}
    <div class="pastIntro flex-container">
        <div class="flex-item">
            <img class="pastImg pastBox" src="/media/original_images/nFortress_old_logo.PNG" alt=""></div>
        <div class="flex-item">
            <div class="chat">
                <div class="mine messages">
                    <div class="message last pastBox">
                        <p>Fortress has a proud history dating back to 1969. Over the years we have expanded and adapted
                            to provide the best service for our clients.
                            Below is a timeline of some of the key moments in Fortress's history, leading up to the
                            present
                            day. </p>
                    </div>
                </div>
                <div class="yours messages">
                    <div class="message pastBox">
                        <p>Below you can see some of our older companies which represent our rich heritage within the
                            industry over the years.
                            Although the names may have changed, the ideals and standards remain the same.
                            Our commitment to innovation and development will continue to change the face of Fortress
                            group.</p>
                    </div>
                </div>
            </div>

        </div>
    </div>

    <div class="timeline" id="timeline">


        <div class="stem-wrapper">
            <div class="stem"></div>
            <div class="stem-background"></div>
        </div>


        <div class="section main-content">
            <div class="section-inner">


                <div class="post-wrapper">

                    <article class="post start-icon">
                        <div class="stem-overlay">
                            <div class="icon"></div>
                            <div class="stem-mask"></div>
                        </div>

                        <div class="post-content">
                            <div class="entry-content">
                                <p><br><br><br><br><br></p>
                            </div>
                        </div>
                    </article>

                    <article class="post nSeventy-icon">
                        <div class="stem-overlay">
                            <div class="icon"></div>
                            <div class="stem-mask"></div>
                        </div>

                        <div class="post-content" data-aos="zoom-in">
                            <p class="meta">Written yesterday at 8:56 pm</p>
                            <h2 class="post-title">Fortress Industries created</h2>
                            <div class="entry-content">
                                <p>Fortress Industries created</p>
                            </div>
                        </div>
                    </article>

                    <article class="post nFive-icon" data-stem-color="green">
                        <div class="stem-overlay">
                            <div class="icon"></div>
                            <div class="stem-mask"></div>
                        </div>

                        <div class="post-content" data-aos="zoom-in">
                            <p class="meta">Written yesterday at 8:56 pm</p>
                            <h2 class="post-title">Creation of Fortress Pro-Tec power coating</h2>
                            <div class="entry-content">
                                <p>Creation of Fortress Pro-Tec power coating</p>
                            </div>
                        </div>
                    </article>

                    <article class="post oThree-icon" data-stem-color="yellow">
                        <div class="stem-overlay">
                            <div class="icon"></div>
                            <div class="stem-mask"></div>
                        </div>

                        <div class="post-content" data-aos="zoom-in">
                            <p class="meta">Written yesterday at 8:56 pm</p>
                            <h2 class="post-title">Demerger of Fortress Industries creates Fortress Doors</h2>
                            <div class="entry-content">
                                <p>Demerger of Fortress Industries creates Fortress Doors</p>
                            </div>
                        </div>
                    </article>

                    <article class="post oFive-icon" data-stem-color="white">
                        <div class="stem-overlay">
                            <div class="icon"></div>
                            <div class="stem-mask"></div>
                        </div>

                        <div class="post-content" data-aos="zoom-in">
                            <p class="meta">Written yesterday at 8:56 pm</p>
                            <h2 class="post-title">Creation of Fortress Andersons service Agency</h2>
                            <div class="entry-content">
                                <p>Creation of Fortress Andersons service Agency</p>
                            </div>
                        </div>
                    </article>

                    <article class="post oSix-icon">
                        <div class="stem-overlay">
                            <div class="icon"></div>
                            <div class="stem-mask"></div>
                        </div>

                        <div class="post-content" data-aos="zoom-in">
                            <p class="meta">Written yesterday at 8:56 pm</p>
                            <h2 class="post-title">Merger with County Shutters</h2>
                            <div class="entry-content">
                                <p>Merger with County Shutters</p>
                            </div>
                        </div>
                    </article>

                    <article class="post oSeven-icon" data-stem-color="green">
                        <div class="stem-overlay">
                            <div class="icon"></div>
                            <div class="stem-mask"></div>
                        </div>

                        <div class="post-content" data-aos="zoom-in">
                            <p class="meta">Written yesterday at 8:56 pm</p>
                            <h2 class="post-title">Creation of Fortress Glass</h2>
                            <div class="entry-content">
                                <p>Creation of Fortress Glass</p>
                            </div>
                        </div>
                    </article>

                    <article class="post oEight-icon" data-stem-color="yellow">
                        <div class="stem-overlay">
                            <div class="icon"></div>
                            <div class="stem-mask"></div>
                        </div>

                        <div class="post-content" data-aos="zoom-in">
                            <p class="meta">Written yesterday at 8:56 pm</p>
                            <h2 class="post-title">Merger with Aable Roller Shutters</h2>
                            <div class="entry-content">
                                <p>Merger with Aable Roller Shutters</p>
                            </div>
                        </div>
                    </article>

                    <article class="post ten-icon" data-stem-color="white">
                        <div class="stem-overlay">
                            <div class="icon"></div>
                            <div class="stem-mask"></div>
                        </div>

                        <div class="post-content" data-aos="zoom-in">
                            <p class="meta">Written yesterday at 8:56 pm</p>
                            <h2 class="post-title">Scotland to form Aable Fortress</h2>
                            <div class="entry-content">
                                <p>Scotland to form Aable Fortress</p>
                            </div>
                        </div>
                    </article>

                    <article class="post thirteen-icon">
                        <div class="stem-overlay">
                            <div class="icon"></div>
                            <div class="stem-mask"></div>
                        </div>

                        <div class="post-content" data-aos="zoom-in">
                            <p class="meta">Written yesterday at 8:56 pm</p>
                            <h2 class="post-title">Merger with FortAXA Security Sweden</h2>
                            <div class="entry-content">
                                <p>Merger with FortAXA Security Sweden</p>
                            </div>
                        </div>
                    </article>

                    <article class="post top-icon trigger-scroll-to-top" data-stem-color="green">
                        <div class="stem-overlay">
                            <div class="icon"></div>
                            <div class="stem-mask"></div>
                        </div>
                    </article>
                </div> <!-- post-wrapper -->


            </div> <!-- section-inner -->
        </div> <!-- main-content -->

    </div>

    <div class="pastClients" data-aos="fade-down">
        <div class="pastBox">
            <h2>Past Clients</h2>
            <p>As one of Europes leading door suppliers we have a long list of high profile clients who trust us with
                their
                business.
                Here is a list of just a few of them.</p>

            <div class="gallery">
                <div class="container">
                    {% for item in page.client_images.all %}
                        {% image item.image fill-150x150-c100 as img %}
                        <a href="{{ item.caption }}">
                            <img src="{{ img.url }}" class="item" alt="{{ img.alt }}">

                        </a>

                    {% endfor %}
                </div>
            </div>

        </div>
    </div>
{% endblock %}