{% extends "../base.html" %}
{% load static %}
{% block page-css-class %}cover-container w-100 d-flex h-25 p-3 mx-auto flex-column{% endblock %}
{% load wagtailcore_tags wagtailimages_tags %}
{% block body_class %}Architect Page{% endblock %}
{% block extra_css %}
    {# Override this in templates to add extra stylesheets #}
    <link rel="stylesheet" href="{% static '/css/homePage.css'%}">
    <link rel="stylesheet" href="{% static '/css/contactUs.css'%}">
    <link rel="stylesheet" href="{% static '/css/w3.css'%}">
    <link rel="stylesheet" href="{% static '/css/blog.css'%}">

    <link rel="stylesheet" href="{% static '/css/architect.css'%}">

{% endblock %}
{% block extra_js %}

    <script src="{% static '/js/architect.js'%}"></script>
    {# Override this in templates to add extra javascript #}
{% endblock %}
{% block meta_descr %}
    Fortress SEFA page for seeing all the documents for viewing



{% endblock %}

{% block content %}
    <div class="top_image">
        <div class="banner">
            <p id="intro">
                {{ page.title }}
                <br/>

            </p>
        </div>
    </div>

    <div class="all-blocks">

        {% comment %}{% for download in page.architect_pdf.all %}
            <div class="document product-card">
                <div class="w3-card-4 w3-margin w3-white" data-aos="fade-down">
                    {% image download.image fill-150x150-c100 %}
                    <div class="w3-container">
                        {{ panel.name }}
                    </div>
                    <hr>
                    <p id="caption">{{ download.caption }}</p>
                    {% with doc=download.architect_pdf %}
                        <div class="download product-info">
                            <a href="{{ doc.url }}" class="smooth-over-button noDecoration">
                                <i class="fa fa-download"></i>
                                <p class="btn-txt" id="limiter">{{ doc.title }}</p>
                            </a>
                        </div>
                    {% endwith %}
                </div>
            </div>
        {% endfor %}


        <div class="document product-card">
            <div class="w3-card-4 w3-margin w3-white" data-aos="fade-down">
                {% for download in page.architect_pdf.all|slice:":1" %}
                    {% image download.image fill-150x150-c100 %}
                    <div class="w3-container">
                        {{ panel.name }}
                    </div>
                    <hr>
                    <p id="caption">{{ download.caption }}</p>
                {% endfor %}
                {% for download in page.architect_pdf.all %}
                    {% with doc=download.architect_pdf %}
                        <div class="download product-info">
                            <a href="{{ doc.url }}" class="smooth-over-button noDecoration">
                                <i class="fa fa-download"></i>
                                <p class="btn-txt">{{ doc.title }}</p>
                            </a>
                        </div>
                    {% endwith %}
                {% endfor %}
            </div>
        </div>
{% endcomment %}
        {% for block in page.content %}
            {% include_block block %}
        {% endfor %}


    </div>



    {% comment %} <script async defer
    src="https://maps.googleapis.com/maps/api/js?key=YOUR_API_KEY&callback=initMap">
    </script>{% endcomment %}
{% endblock %}