{% extends "../base.html" %}
{% load static %}
{% block page-css-class %}cover-container d-flex h-25 p-3 mx-auto flex-column padding{% endblock %}
{% load wagtailcore_tags wagtailimages_tags %}
{% block body_class %}template-blogindexpage{% endblock %}
{% block extra_css %}
    {# Override this in templates to add extra stylesheets #}
    <link rel="stylesheet" href='/static/css/homepage.css'>
    <link rel="stylesheet" href='/static/css/allImagesRespon.css'>
    <link rel="stylesheet" href='/static/css/w3.css'>
    <link rel="stylesheet" href='/static/css/blog.css'>



{% endblock %}
{% block extra_js %}
    {# Override this in templates to add extra javascript #}
{% endblock %}
{% block meta_descr %}



{% endblock %}

{% block content %}

    <div class="w3-row">
        <div class="w3-col l8 s12">{# blog entry #}


            <h1>{{ page.title }}</h1>
            {# start paginator #}
            <div id="paginatorTop">
                {% if posts.paginator.num_pages > 1 %}
                    <div class="container">
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="pagination">
                                    {% if posts.has_previous %}
                                        <li class="page-item">
                                            <a href="?page={{ posts.previous_page_number }}" class="page-link">
                                                <span>&laquo;</span>
                                            </a>
                                        </li>
                                    {% endif %}

                                    {% for page_num in posts.paginator.page_range %}
                                        <li class="page-item {% if page_num == posts.number %} active{% endif %}">
                                            <a href="?page={{ page_num }}" class="page-link">
                                                {{ page_num }}
                                            </a>
                                        </li>
                                    {% endfor %}

                                    {% if posts.has_next %}
                                        <li class="page-item">
                                            <a href="?page={{ posts.next_page_number }}" class="page-link">
                                                <span>&raquo;</span>
                                            </a>
                                        </li>
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                    </div>

                {% endif %}
            </div>
            {# end paginator #}

            <div class="intro">{{ page.intro|richtext }}</div>

            {# Start blog cards #}
            {% for post in posts %}

                <div class="w3-card-4 w3-margin w3-white">

                    <div class="blogIndexImg">
                        {% for item in post.specific.blogpage_images.all|slice:"1" %}
                            {% image item.image fill-400x400-c100 %}
                            <p>{{ item.caption }}</p>
                        {% endfor %}
                    </div>
                    <div class="w3-container">
                        <h3 class="blogLink">{{ post.title }}</h3>
                        <h5>{{ post.specific.intro }} <span
                                class="w3-opacity">{{ post.specific.date }}</span></h5>
                    </div>
                    <div class="w3-container">

                        <p class="block-with-text">
                            {{ post.specific.body|richtext }}
                        </p>

                        <div class="w3-row">

                            <div class="w3-col m8 s12">

                                <p>
                                    <button class="w3-button w3-padding-large w3-white w3-border"><b><a
                                            class="effect-shine"
                                            href="{% pageurl post %}">SEE
                                        MORE »</a></b>
                                    </button>

                                </p>

                            </div>
                            <div class="w3-col m4 w3-hide-small">
                                <div class="lds-roller"><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div></div>

                                    <span class="w3-padding-large w3-right" id="commentCount">
                                        <span class="w3-tag">
                                            <a href="{% pageurl post %}#disqus_thread" id="searchFor"> _
                                            </a>
                                        </span>
                                    </span>

                            </div>
                        </div>
                    </div>

                </div>

                <hr>
            {% endfor %}
            {# end blog cards #}

            {# start paginator #}
            {% if posts.paginator.num_pages > 1 %}
                <div class="container">
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="pagination">
                                {% if posts.has_previous %}
                                    <li class="page-item">
                                        <a href="?page={{ posts.previous_page_number }}" class="page-link">
                                            <span>&laquo;</span>
                                        </a>
                                    </li>
                                {% endif %}

                                {% for page_num in posts.paginator.page_range %}
                                    <li class="page-item {% if page_num == posts.number %} active{% endif %}">
                                        <a href="?page={{ page_num }}" class="page-link">
                                            {{ page_num }}
                                        </a>
                                    </li>
                                {% endfor %}

                                {% if posts.has_next %}
                                    <li class="page-item">
                                        <a href="?page={{ posts.next_page_number }}" class="page-link">
                                            <span>&raquo;</span>
                                        </a>
                                    </li>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>
            {% endif %}
            {# end paginator #}

        </div>
        {# end blog entry #}


        {#  right side #}
        <div class="w3-col l4">
            <div class="w3-card w3-margin">
                <div class="w3-container w3-padding">
                    <h4>Popular Posts</h4>
                </div>

                <ul class="w3-ul w3-hoverable w3-white">
                    {% for post in posts %}


                        <li class="w3-padding-16 zoom">
                            <a class="" href="{% pageurl post %}">
                                <div class="w3-left w3-margin-right">
                                    {% for item in post.specific.blogpage_images.all|slice:"1" %}
                                        {% image item.image fill-50x50-c100 %}
                                    {% endfor %}
                                </div>
                                <span class="w3-large">{{ post.title }}</span><br>
                                <span>{{ post.specific.intro }}</span>
                            </a>
                        </li>



                    {% endfor %}
                </ul>

            </div>
            {# end right side #}
        </div>
    </div><br>

{% endblock %}