{% extends "base.html" %}
{% block page-css-class %}cover-container d-flex w-100 h-25 p-3 mx-auto flex-column padding{% endblock %}
{% load wagtailcore_tags wagtailimages_tags %}
{% load mathfilters %}
{% load static %}
{% block extra_css %}
    {# Override this in templates to add extra stylesheets #}
    <link rel="stylesheet" href="{% static '/css/about.css' %}">
    <link rel="stylesheet" href="{% static '/css/w3.css' %}">

    <style>
        p {
            text-transform: none;
        }
    </style>
{% endblock %}

{% block body_class %}template-blogpage{% endblock %}

{% block extra_js %}
    {# Override this in templates to add extra javascript #}

    <script src="{% static '/js/disqus.js' %}"></script>
{% endblock %}

{% block content %}
    <div id="blog-page">

    {# We want to go back to page the viewer was on previously using django-mathfilters #}
        <div class="box-1">
            {% for page_parent in page.get_parent.get_children.reverse %}
                {% if page.id == page_parent.id %}
                    <a href="{{ page.get_parent.url }}?page={{ forloop.counter|div:5|add:1 }}">
                        <div class="btn btn-one" style="padding-top: 0">
                    <span>
                        Return to blog »
                    </span>
                        </div>
                    </a>
                {% endif %}
            {% endfor %}
        </div>

        <div class="row pb-4">
            <div class="col-lg p-4">
                <div class="text-left">
                    <h1 class="blogLink">{{ page.title }} </h1>

                    <h5 class="w3-opacity">{{ page.date }}</h5>

                    <div class="intro-blog">{{ page.intro }}</div>
                </div>
                <div class="pt-3 line-height-1-6">
                    {{ page.body|richtext }}
                </div>
            </div>

            {# start carousel #}
            {# second attempt #}
            <div class="col">

                <div id="carouselExampleIndicators" class="carousel" data-ride="carousel">
                    <ul class="carousel-indicators">
                        {% for item in page.blogpage_images.all %}
                            <li data-target="#carouselExampleIndicators" data-slide-to="{{ forloop.counter|add:"-1" }}"
                                class="{% if forloop.counter == 1 %}active{% endif %}">
                            </li>

                        {% endfor %}
                    </ul>
                    <div class="blog">
                        <div class="carousel-inner">
                            {% for item in page.blogpage_images.all %}
                                {% image item.image fill-650x650 as img %}
                                <div class="carousel-item {% if forloop.counter == 1 %}active{% endif %}">
                                    <img src="{{ img.url }}" class="d-block w-100" alt="{{ img.alt }}">
                                    <div class="imageCounter">
                                        <img src="/media/original_images/camera.png" id="display">
                                        {{ forloop.counter }} of {{ page.blogpage_images.all.count }}
                                    </div>
                                </div>
                            {% endfor %}
                        </div>

                        {% for item in page.blogpage_images.all %}
                            {% if forloop.counter >= 2 %}
                                <div class="arrow-sets">
                                    <a class="left recommended-item-control" href="#carouselExampleIndicators"
                                       data-slide="prev">
                                        <i class="fa fa-angle-left"></i>
                                    </a>
                                    <a class="right recommended-item-control" href="#carouselExampleIndicators"
                                       data-slide="next">
                                        <i class="fa fa-angle-right"></i>
                                    </a>
                                </div>
                            {% endif %}
                        {% endfor %}

                    </div>
                </div>
                {# end carousel #}

                {% if page.blogpage_images.all|length >= 2 %}
                    <div class="gallery thumbs">

                        <div class="gallery">
                            <div class="container">
                                {% for item in page.blogpage_images.all %}
                                    <li data-target="#carouselExampleIndicators"
                                        data-slide-to="{{ forloop.counter|add:"-1" }}"
                                        class="{% if forloop.counter == 1 %}active{% endif %}">
                                        {% image item.image fill-100x100-c100 %}
                                        <img src="{{ img.url }}" class="item" alt="{{ img.alt }}">
                                        <p>{{ item.caption }}</p></li>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                {% endif %}


            </div>
        </div>

        <div id="disqus_thread"></div>
        <noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by
            Disqus.</a></noscript>
    </div>
{% endblock %}