{% extends "base.html" %}
{% block page-css-class %}cover-container d-flex w-100 h-25 p-3 mx-auto flex-column padding{% endblock %}
{% load wagtailcore_tags wagtailimages_tags %}

{% block extra_css %}
    {# Override this in templates to add extra stylesheets #}
    <link rel="stylesheet" href='/static/css/blog.css'>
    <link rel="stylesheet" href='/static/css/w3.css'>
{% endblock %}

{% block body_class %}template-blogpage{% endblock %}

{% block extra_js %}
    {# Override this in templates to add extra javascript #}
{% endblock %}

{% block content %}

    <p>
        <a href="{{ page.get_parent.url }}">
            <div class="box-1">
                <div class="btn btn-one">
                    <span>Return to blog »</span>
                </div>
            </div>
        </a>
    </p>
    <h1 class="blogLink">{{ page.title }}</h1>
    <h5 class="w3-opacity">{{ page.date }}</h5>

    <div class="intro">{{ page.intro }}</div>

    {{ page.body|richtext }}

    {# start carousel #}
    {# second attempt #}

    <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
        <ul class="carousel-indicators">
            {% for item in page.blogpage_images.all %}
                <li data-target="#carouselExampleIndicators" data-slide-to="{{ forloop.counter|add:"-1" }}"
                    class="{% if forloop.counter == 1 %}active{% endif %}">
                </li>

            {% endfor %}
        </ul>
        <div class="blog">
            <div class="carousel-inner">
                {% for item in page.blogpage_images.all %}
                    {% image item.image fill-650x650 as img %}
                    <div class="carousel-item {% if forloop.counter == 1 %}active{% endif %}">
                        <img src="{{ img.url }}" class="d-block w-100" alt="{{ img.alt }}">
                        <div class="imageCounter">
                            <img src="/media/original_images/camera.png" id="display">
                            {{ forloop.counter }} of {{ page.blogpage_images.all.count }}
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
    {# end carousel #}



    <div class="gallery thumbs">
        <button class="gallery nav-arrow"></button>
        <div class="gallery">
            <div class="container">
                {% for item in page.blogpage_images.all %}
                    <li data-target="#carouselExampleIndicators" data-slide-to="{{ forloop.counter|add:"-1" }}"
                        class="{% if forloop.counter == 1 %}active{% endif %}">
                        {% image item.image fill-100x100-c100 %}
                        <img src="{{ img.url }}" class="item" alt="{{ img.alt }}">
                        <p>{{ item.caption }}</p></li>
                {% endfor %}
            </div>
        </div>
        <button class="gallery nav-arrow"></button>
    </div>

    <div id="disqus_thread"></div>
    <noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by
        Disqus.</a></noscript>
{% endblock %}