{% extends "../second_base.html" %}
{% load static %}
{% block page-css-class %}cover-container w-100 d-flex h-25 p-3 mx-auto flex-column{% endblock %}
{% load wagtailcore_tags wagtailimages_tags %}
{% block body_class %}Confirm Email{% endblock %}
{% block extra_css %}
    {# Override this in templates to add extra stylesheets #}
    <link rel="stylesheet" href='/static/css/login.css'>
    <link rel="stylesheet" href='/static/css/confirm_email.css'>
{% endblock %}
{% block extra_js %}
    {# Override this in templates to add extra javascript #}


{% endblock %}
{% block meta_descr %}
    Fortress SEFA direct sign up to advance in to the architect downloadable documents.



{% endblock %}

{% block content %}
    <div class="signup">
    <div class="email-list">
        <p>This is your confirmation email</p>
        <p>You can now access the Architects page</p>


            <a href="/login-architect">
                <div class="box-1">
                    <div class="btn btn-one" style="padding-top: 0">
                        <span>Return to login</span>
                    </div>
                </div>
            </a>

        <span class="apple-link">Fortress Sefa, 6 Trench Road, Newtownabbey BT36 4TY</span>
        <br>
        <p class="apple-link">Don't like these emails? <a href="/" class="unsub">Unsubscribe</a>.</p>
    </div></div>
{% endblock %}