{% extends "../base.html" %}
{% load static %}
{% block page-css-class %}cover-container w-100 d-flex h-25 p-3 mx-auto flex-column{% endblock %}
{% load wagtailcore_tags wagtailimages_tags %}
{% block body_class %}Contact Us{% endblock %}
{% block extra_css %}
    {# Override this in templates to add extra stylesheets #}
 <link rel="stylesheet" href='/static/css/homePage.css'>
{% endblock %}
{% block extra_js %}
    {# Override this in templates to add extra javascript #}
{% endblock %}
{% block meta_descr %}
    Fortress SEFA Contact us. Belfast 6 Trench Road Northern Ireland office. Email - info@fortress-sefa.com. Get directions via google maps



{% endblock %}

{% block content %}
    <p>maps</p>
{% endblock %}