{% extends "../base.html" %}
{% load static %}
{% block page-css-class %}cover-container w-100 d-flex h-25 p-3 mx-auto flex-column{% endblock %}
{% load wagtailcore_tags wagtailimages_tags %}
{% block body_class %}Contact Us{% endblock %}
{% block extra_css %}
    {# Override this in templates to add extra stylesheets #}
    <link rel="stylesheet" href="{%static '/css/homePage.css'%}">
    <link rel="stylesheet" href="{%static '/css/contactUs.css'%}">
{% endblock %}

{% block extra_js %}
    {# Override this in templates to add extra javascript #}


{% endblock %}
{% block meta_descr %}
    Fortress SEFA Contact us. Belfast 6 Trench Road Northern Ireland office. Email - info@fortress-sefa.com.
    Here you can find our contact information in large detail with map view and location detail view.
    We also have links to different parts of our page to where there will be useful information.



{% endblock %}

{% block content %}
    <div id="contact-us">
        <div class="top_header">
            <p id="intro">
                {{ page.title }}<br/>

            </p>
            <p id="extra">Our page may not have everything, so why not ask us to answer your questions</p>
        </div>
        <div class="alternative-colour quickLinks">
            <h3 data-aos="fade-left">Lets Start a Conversation.</h3>
            <div class="all-blocks links_contact" data-aos="fade-right">


                <div class="document">
                    <div class="w3-card-4 w3-margin w3-white">
                        <div class="w3-container">
                            <i class="fas fa-question-circle"></i>
                        </div>
                        <hr>
                        <p id="caption">PRODUCT FAQS</p>
                        <div class="download button_place">
                            <div class="info">
                                <a href="/faq">
                                    FIND ANSWERS NOW</a>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="document">
                    <div class="w3-card-4 w3-margin w3-white">
                        <div class="w3-container">
                            <i class="fas fa-certificate"></i>
                        </div>
                        <hr>
                        <p id="caption">WARRANTY</p>
                        <div class="download button_place">
                            <div class="info">
                                WHAT WE ENSURE
                            </div>
                        </div>
                    </div>
                </div>

                <div class="document">
                    <div class="w3-card-4 w3-margin w3-white">
                        <div class="w3-container">
                            <i class="fas fa-address-book"></i>
                        </div>
                        <hr>
                        <p id="caption">CONTACT US DIRECTLY</p>
                        <div class="download button_place">
                            <div class="info">
                                <a href="/contact-page">FORM FILL</a>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="document">
                    <div class="w3-card-4 w3-margin w3-white">
                        <div class="w3-container">
                            <i class="fas fa-search"></i>
                        </div>
                        <hr>
                        <p id="caption">CONNECT WITH US</p>
                        <div class="download button_place contact-buttons">
                            <a class="bodylinkedIn" href="https://www.linkedin.com/company/fortresssefa/"
                               target="_blank" id=""></a>
                            <a class="bodyfacebook" href="https://www.facebook.com/Fortress-SEFA-367639123362658/"
                               target="_blank"
                               id=""></a>
                        </div>
                    </div>
                </div>


            </div>
        </div>
        <h3 data-aos="fade-left" id="locations">Where are we located?</h3>
        <div class="all-blocks links_contact">
            {% for block in page.content %}
                {% include_block block %}
            {% endfor %}
        </div>


        <div class="mapBox alternative-colour">

            <div id="map"></div>
        </div>

    </div>

    <script async defer
            src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDj9qskL3s4wAVrPsufxnpJ4N9u5RxX4Fs&callback=initMap">
    </script>

    <script src="https://developers.google.com/maps/documentation/javascript/examples/markerclusterer/markerclusterer.js"></script>
    <!-- Replace the value of the key parameter with your own API key. -->


    {% comment %} <script async defer
    src="https://maps.googleapis.com/maps/api/js?key=YOUR_API_KEY&callback=initMap">
    </script>{% endcomment %}
{% endblock %}