{% extends "../base.html" %}
{% load static %}
{% block page-css-class %}cover-container w-100 d-flex h-100 p-3 mx-auto flex-column{% endblock %}
{% load wagtailcore_tags wagtailimages_tags %}
{% block body_class %}Steel Door{% endblock %}
{% block extra_css %}
    {# Override this in templates to add extra stylesheets #}
    <link rel="stylesheet" href='/static/css/blog.css'>
    <link rel="stylesheet" href='/static/css/w3.css'>
    <link rel="stylesheet" href='/static/css/homePage.css'>

{% endblock %}
{% block extra_js %}
    {# Override this in templates to add extra javascript #}
{% endblock %}
{% block meta_descr %}
    Fortress SEFA About us. Links to socials and linkedin is included in this page.
{% endblock %}

{% block content %}
    {% include 'type_text.html' %}
    <div class="products">
        <div class="overview alternative-colour">
            <article class="item">
                <div class="description">
                    <div id="alert">New</div>
                    <h3>SR3 Door</h3>
                    <h1>Extra Security.<br/>
                        More Thought.<br/>
                        More Design.</h1>
                    <h3>Highest Security</h3>
                    {% for download in page.steelDoor_pdf.all %} {# loop over the ArchitectDownload objects #}
                        {% with doc=download.steelDoor_pdf %} {# retrieve the Document object for each one #}

                            <div class="download">
                                <a href="{{ doc.url }}" class="smooth-over-button noDecoration">
                                    <i class="fa fa-download"></i>
                                    <p class="btn-txt">Specs</p>
                                </a>
                            </div>
                        {% endwith %}
                    {% endfor %}
                    <p> More details below </p>


                </div>

                <div class="prod-images">
                    <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
                        {#      line indicators   #}
                        <ul class="carousel-indicators">
                            {% for item in page.steelDoor_images.all %}
                                <li data-target="#carouselExampleIndicators"
                                    data-slide-to="{{ forloop.counter|add:"-1" }}"
                                    class="{% if forloop.counter == 1 %}active{% endif %}">
                                </li>

                            {% endfor %}
                        </ul>
                        {#    end  line indicators   #}
                        <div class="blog">
                            <div class="carousel-inner">


                                {% for item in page.steelDoor_images.all %}
                                    <div class="carousel-item {% if forloop.counter == 1 %}active{% endif %}">


                                        {% image item.image fill-10000x10000 as img %}
                                        <img src="{{ img.url }}" class="d-block w-100"
                                             alt="{{ img.alt }}">

                                        <div class="imageCounter">
                                            <img src="/media/original_images/camera.png" id="display">
                                            {{ forloop.counter }} of {{ page.steelDoor_images.all.count }}

                                        </div>


                                    </div>
                                {% endfor %}

                            </div>
                        </div>
                        <div class="arrow-sets">
                            <a class="left recommended-item-control" href="#carouselExampleIndicators"
                               data-slide="prev">
                                <i class="fa fa-angle-left"></i>
                            </a>
                            <a class="right recommended-item-control" href="#carouselExampleIndicators"
                               data-slide="next">
                                <i class="fa fa-angle-right"></i>
                            </a>
                        </div>
                    </div>

                    {# end carousel #}


                    <div class="mini">

                        <div class="prod-images">
                            <div id="carouselExampleIndicators2" class="carousel slide" data-ride="carousel">
                                <div class="blog">
                                    <div class="carousel-inner">
                                        {% for item in page.steelDoor_images.all %}

                                            <div class="carousel-item {% if forloop.counter == 1 %}active{% endif %}">
                                                {% image item.image fill-10000x10000 as img %}
                                                <img src="{{ img.url }}" class="flex"
                                                     data-target="#carouselExampleIndicators"
                                                     data-slide-to="{{ forloop.counter|add:"-1" }}"
                                                     alt="{{ img.alt }}">
                                            </div>


                                        {% endfor %}

                                    </div>
                                </div>
                                <div class="arrow-sets">
                                    <a class="left recommended-item-control" href="#carouselExampleIndicators2"
                                       data-slide="prev">
                                        <i class="fa fa-angle-left"></i>
                                    </a>
                                    <a class="right recommended-item-control" href="#carouselExampleIndicators2"
                                       data-slide="next">
                                        <i class="fa fa-angle-right"></i>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                    {# end carousel #}
                </div>

            </article>
        </div>


        <div class="intro" id="aboutExtra" data-aos="fade-down">
            yeah
        </div>


        <div class="align-content-center item-info">
            <div class="column" data-aos="fade-down">
                <div class="w3-container">
                    <i class="fa fa-plus"></i>
                </div>
                <h3>Hardware Options</h3>
                {{ page.hardware|richtext }}

            </div>
            <div class="column" data-aos="fade-down">
                <div class="w3-container">
                    <i class="fas fa-cogs"></i>
                </div>
                <h3>Door Options</h3>
                {{ page.doorOptions|richtext }}
            </div>
            <div class="column" data-aos="fade-down">
                <div class="w3-container">
                    <i class="fas fa-question-circle"></i>
                </div>
                <h3>Dimensions</h3>
                {{ page.dimensions|richtext }}
            </div>
        </div>


    </div>
{% endblock %}