{% extends "../base.html" %}
{% load static %}
{% block page-css-class %}cover-container w-100 d-flex h-100 pb-3 mx-auto flex-column{% endblock %}
{% load wagtailcore_tags wagtailimages_tags %}
{% block body_class %}Speed Door{% endblock %}
{% block extra_css %}
    {# Override this in templates to add extra stylesheets #}
    <link rel="stylesheet" href="{%static '/css/w3.css'%}">
    <link rel="stylesheet" href="{%static '/css/homePage.css'%}">
{% endblock %}
{% block extra_js %}
    {# Override this in templates to add extra javascript #}

<script src="{%static '/js/rotate_text.js'%}"></script>
{% endblock %}
{% block meta_descr %}
    Fortress SEFA About us. Links to socials and linkedin is included in this page.
{% endblock %}

{% block content %}
    {% include 'type_text.html' %}
    <div class="alternative-colour">
    images
    </div>
    description
    <div class="alternative-colour">
    options
    </div>
{% endblock %}