{% extends "../base.html" %}
{% load static %}
{% block page-css-class %}cover-container w-100 d-flex h-100 p-3 mx-auto flex-column{% endblock %}
{% load wagtailcore_tags wagtailimages_tags %}
{% block body_class %}Steel Door{% endblock %}
{% block extra_css %}
    {# Override this in templates to add extra stylesheets #}
    <link rel="stylesheet" href='/static/css/blog.css'>
    <link rel="stylesheet" href='/static/css/w3.css'>
    <link rel="stylesheet" href='/static/css/homePage.css'>
    <link rel="stylesheet" href='/static/css/image-gallery.css'>

{% endblock %}
{% block extra_js %}
    {# Override this in templates to add extra javascript #}
{% endblock %}
{% block meta_descr %}
    Fortress SEFA About us. Links to socials and linkedIn is included in this page.
{% endblock %}

{% block content %}
    {% include 'type_text.html' %}
    <div class="products" id="door-steel">
        <div class="overview alternative-colour">
            <article class="item">
                <div class="description">
                    <div id="alert">New</div>
                    <h3>SR3 Door</h3>
                    <h1>Extra Security.<br/>
                        More Thought.<br/>

                        More Design.</h1>
                    <h3>Highest Security</h3>
                    {% for download in page.steelDoor_pdf.all|slice:"1" %} {# loop over the ArchitectDownload objects #}
                        {% with doc=download.steelDoor_pdf %} {# retrieve the Document object for each one #}

                            <div class="download">
                                <a href="{{ doc.url }}" class="smooth-over-button noDecoration">
                                    <i class="fa fa-download"></i>
                                    <p class="btn-txt">{{ doc.title }}</p>
                                </a>
                            </div>
                        {% endwith %}
                    {% endfor %}
                    <p> More details below </p>
                    <p>Architects go to <a href="/architect-page/" id="architect-link">Architect Page!</a> <i
                            class="fa fa-user"></i></p>


                </div>

                <div class="prod-images">
                    <div id="carouselExampleIndicators" class="carousel carousel-fade" data-ride="carousel"
                         data-touch="true">
                        {#      line indicators   #}
                        <ul class="carousel-indicators">
                            {% for item in page.steelDoor_images.all %}
                                <li data-target="#carouselExampleIndicators"
                                    data-slide-to="{{ forloop.counter|add:"-1" }}"
                                    class="{% if forloop.counter == 1 %}active{% endif %}">
                                </li>

                            {% endfor %}
                        </ul>
                        {#    end  line indicators   #}
                        <div class="blog">
                            <div class="carousel-inner">


                                {% for item in page.steelDoor_images.all %}
                                    <div class="carousel-item {% if forloop.counter == 1 %}active{% endif %}">


                                        {% image item.image fill-10000x10000 as img %}
                                        <img src="{{ img.url }}" class="d-block w-100"
                                             alt="{{ img.alt }}">

                                        <div class="imageCounter">
                                            <img src="/media/original_images/camera.png" id="display">
                                            {{ forloop.counter }} of {{ page.steelDoor_images.all.count }}

                                        </div>


                                    </div>
                                {% endfor %}

                            </div>
                        </div>
                        <div class="arrow-sets">
                            <a class="left recommended-item-control" href="#carouselExampleIndicators"
                               data-slide="prev">
                                <i class="fa fa-angle-left"></i>
                            </a>
                            <a class="right recommended-item-control" href="#carouselExampleIndicators"
                               data-slide="next">
                                <i class="fa fa-angle-right"></i>
                            </a>
                        </div>
                    </div>

                    {# end carousel #}


                    {% comment %}<div class="mini">

                        <div class="prod-images">
                            <div id="carouselExampleIndicators2" class="carousel slide" data-ride="carousel">
                                <div class="blog">
                                    <div class="carousel-inner">
                                        {% for item in page.steelDoor_images.all %}

                                            <div class="carousel-item {% if forloop.counter == 1 %}active{% endif %}">
                                                {% image item.image fill-10000x10000 as img %}
                                                <img src="{{ img.url }}" class="flex"
                                                     data-target="#carouselExampleIndicators"
                                                     data-slide-to="{{ forloop.counter|add:"-1" }}"
                                                     alt="{{ img.alt }}">
                                            </div>


                                        {% endfor %}

                                    </div>
                                </div>
                                <div class="arrow-sets">
                                    <a class="left recommended-item-control" href="#carouselExampleIndicators2"
                                       data-slide="prev">
                                        <i class="fa fa-angle-left"></i>
                                    </a>
                                    <a class="right recommended-item-control" href="#carouselExampleIndicators2"
                                       data-slide="next">
                                        <i class="fa fa-angle-right"></i>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>{% endcomment %}


                    <main class="container-snap half-margin image-gallery" id="gallery">
                        {% for item in page.steelDoor_images.all %}

                            <div class="child-snap {% if forloop.counter == 1 %}active{% endif %} height-depend">
                                {% image item.image fill-100x100 as img %}
                                <img src="{{ img.url }}"
                                     data-target="#carouselExampleIndicators"
                                     data-slide-to="{{ forloop.counter|add:"-1" }}"
                                     alt="{{ img.alt }}">
                            </div>


                        {% endfor %}
                    </main>
                    {# end carousel #}
                </div>

            </article>


        </div>


        {% comment %}<div class="iphone">
            <div class="container">
                <div class="panels" id="carouselExampleIndicators3">
                    <div class="panel">heyeeee</div>
                    {% for item in page.steelDoor_images.all %}
                        <div class="panel {% if forloop.counter == 1 %}active{% endif %}">


                            {% image item.image fill-10000x10000 as img %}
                            <img src="{{ img.url }}" class="d-block w-100"
                                 alt="{{ img.alt }}">

                            <div class="imageCounter">
                                <img src="/media/original_images/camera.png" id="display">
                                {{ forloop.counter }} of {{ page.steelDoor_images.all.count }}

                            </div>


                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>{% endcomment %}


        <div class="intro" id="aboutExtra">

            <h2>What all this means.</h2>
            {{ page.general|richtext }}
        </div>


        <div class="align-content-center item-info">
            <div class="column" data-aos="fade-down">
                <div class="w3-container">
                    <i class="fa fa-plus"></i>
                </div>
                <h3>Hardware Options</h3>
                {{ page.hardware|richtext }}

            </div>
            <div class="column" data-aos="fade-down">
                <div class="w3-container">
                    <i class="fas fa-cogs"></i>
                </div>
                <h3>Door Options</h3>
                {{ page.doorOptions|richtext }}
            </div>
            <div class="column" data-aos="fade-down">
                <div class="w3-container">
                    <i class="fas fa-crop"></i>
                </div>
                <h3>Dimensions</h3>
                {{ page.dimensions|richtext }}
            </div>


        </div>

        <div class="intro alternative-colour" id="aboutExtra" data-aos="fade-right">
            <div id="docs-pic">
                <i class="fa fa-file-pdf-o"></i>
            </div>
            <h3 id="prod-docs">Get the Docs</h3>

            {% for download in page.steelDoor_pdf.all %} {# loop over the ArchitectDownload objects #}
                {% with doc=download.steelDoor_pdf %} {# retrieve the Document object for each one #}

                    <div class="download">
                        <a href="{{ doc.url }}" class="smooth-over-button noDecoration">
                            <i class="fa fa-download"></i>
                            <p class="btn-txt">{{ doc.title }}</p>
                        </a>
                    </div>
                {% endwith %}
            {% endfor %}
        </div>


    </div>
{% endblock %}