{% extends "../second_base.html" %}
{% load static %}
{% block page-css-class %}cover-container w-100 d-flex h-25 p-3 mx-auto flex-column{% endblock %}
{% load wagtailcore_tags wagtailimages_tags %}
{% block body_class %}Email Verification{% endblock %}
{% block extra_css %}
    {# Override this in templates to add extra stylesheets #}
    <link rel="stylesheet" href="{%static '/css/login.css'%}">
<link rel="stylesheet" href="{%static '/css/buttons.css'%}">


{% endblock %}
{% block extra_js %}
    {# Override this in templates to add extra javascript #}


{% endblock %}
{% block meta_descr %}
    Fortress SEFA verification page



{% endblock %}

{% block content %}

        <p>An email has been sent to <A HREF="mailto:fortresssefa@gmail.com">admin services</A></p>
        <p>In the meantime check your own inbox to see the correct email has been setup.</p>
        <br/>
        <p>Please await your confirmation</p>

        <a href="/">
                <div class="box-1">
                    <div class="btn btn-one" style="padding-top: 0">
                        <span>Return to Home »</span>
                    </div>
                </div>
            </a>




{% endblock %}