{% extends "../base.html" %}
{% load static %}
{% block page-css-class %}cover-container d-flex h-25 p-3 mx-auto flex-column {% endblock %}
{% load wagtailcore_tags wagtailimages_tags %}
{% block body_class %}Home{% endblock %}
{% block extra_css %}
    {# Override this in templates to add extra stylesheets #}
    <link rel="stylesheet" href="{% static '/css/homePage.css'%} ">
    <link rel="stylesheet" href="{% static '/css/allImagesRespon.css'%} ">

{% endblock %}
{% block extra_js %}
    {# Override this in templates to add extra javascript #}

<script src="{% static 'js/account.js'%}"></script>


{% endblock %}

{% block meta_descr %}
    Fortress SEFA Home Page - doors shutters | Security solutions, Environmental applications, Fire protection &
    Architectural.
    Over 40 years of providing industry leading products.
    Company based in Belfast, Manchester, London, Dundee, Glasgow.
{% endblock %}



{% block content %} {#    html stuff sits in here#}


    {% include 'architect_drop.html' %}

    <div class="home">
        <ul class="text hidden">
            <li>S</li>
            <li class="ghost">e</li>
            <li class="ghost">c</li>
            <li class="ghost">u</li>
            <li class="ghost">r</li>
            <li class="ghost">i</li>
            <li class="ghost">t</li>
            <li class="ghost">y</li>

            <li class="spaced">E</li>
            <li class="ghost">n</li>
            <li class="ghost">v</li>
            <li class="ghost">i</li>
            <li class="ghost">r</li>
            <li class="ghost">o</li>
            <li class="ghost">n</li>
            <li class="ghost">m</li>
            <li class="ghost">e</li>
            <li class="ghost">n</li>
            <li class="ghost">t</li>

            <li class="spaced">F</li>
            <li class="ghost">i</li>
            <li class="ghost">r</li>
            <li class="ghost">e</li>

            <li class="spaced">A</li>
            <li class="ghost">r</li>
            <li class="ghost">c</li>
            <li class="ghost">h</li>
            <li class="ghost">i</li>
            <li class="ghost">t</li>
            <li class="ghost">e</li>
            <li class="ghost">c</li>
            <li class="ghost">t</li>
            <li class="ghost">u</li>
            <li class="ghost">r</li>
            <li class="ghost">e</li>
        </ul>

        <div class="homeInfo1 fadeonload">
            {{ page.intro|richtext }}
        </div>


        <div class="overview">
            <article class="item">
                <div class="homeInfo2">
                    {{ page.security|richtext }}
                </div>
                <div class="homeIm1 responsiveness super-centered">
                    {% for item in page.homepage_images.all|slice:"1" %}
                        {% image item.image fill-800x800-c100 %}
                        <p>{{ item.caption }}</p>
                    {% endfor %}
                </div>
            </article>
            <article class="item fadeInBlock">
                <div class="homeInfo3">
                    {{ page.environment|richtext }}
                </div>
                <div class="homeIm2  super-centered">
                    {% for item in page.homepage_images.all|slice:"1:2" %}
                        {% image item.image fill-800x800-c100 %}
                        <p>{{ item.caption }}</p>
                    {% endfor %}
                </div>
            </article>

            <article class="item fadeInBlock">
                <div class="homeInfo4">
                    {{ page.fire|richtext }}
                </div>
                <div class="homeIm3  super-centered">
                    {% for item in page.homepage_images.all|slice:"2:3" %}
                        {% image item.image fill-800x800-c100 %}
                        <p>{{ item.caption }}</p>
                    {% endfor %}
                </div>
            </article>

            <article class="item fadeInBlock">
                <div class="homeInfo5">
                    {{ page.architectural|richtext }}
                </div>
                <div class="homeIm4  super-centered">
                    {% for item in page.homepage_images.all|slice:"3:4" %}
                        {% image item.image fill-800x800-c100 %}
                        <p>{{ item.caption }}</p>
                    {% endfor %}
                </div>
            </article>
        </div>
    </div>

    <div class="cookie-banner" style="display: none">
        <p>
            We use cookies to ensure that we give you the best experience on our website. If you continue to use this
            site
            we will assume that you are happy with it. Check out our
            <a href="/cookies">cookie policy</a> here
        </p>
        <button class="close">&times;</button>
    </div>



{% endblock %}