{% extends "../base.html" %}
{% load static %}
{% block page-css-class %}cover-container d-flex h-100 p-3 mx-auto flex-column{% endblock %}
{% load wagtailcore_tags wagtailimages_tags %}
{% block body_class %}Home{% endblock %}
{% block extra_css %}
    {# Override this in templates to add extra stylesheets #}

{% endblock %}
{% block extra_js %}
    {# Override this in templates to add extra javascript #}

{% endblock %}

{% block meta_descr %}
    Fortress SEFA Home - doors  shutters | Security solutions, Environmental applications, Fire protection & Architectural.
    Over 40 years of providing industry leading products.
{% endblock %}



{% block content %} {#    html stuff sits in here#}
        <!--<main role="main" class="inner cover">
            <h1 class="cover-heading">Cover your page.</h1>
            <p class="lead">Cover is a one-page template for building simple and beautiful home pages. Download, edit
                the text, and add your own fullscreen background photo to make it your own.</p>
            <p class="lead">
                <a href="#" class="btn btn-lg btn-secondary">Learn more</a>
            </p>
        </main>-->

    {{ page.intro|richtext }}
    {{ page.security|richtext }}
    {{ page.environment|richtext }}
    {{ page.fire|richtext }}
    {{ page.architectural|richtext }}
    <!-- <div>
        {# creates 2 buttons #}
        <nav class="navbar navbar-light bg-light">
            <form class="form-inline">
                <button class="btn btn-outline-success" type="button">Main button</button>
                <button class="btn btn-sm btn-outline-secondary" type="button">Smaller button</button>
            </form>
        </nav>


    </div>
    <form class="form-inline my-2 my-lg-0">
        <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    </form>
    <nav class="navbar navbar-light bg-light">
  <span class="navbar-text">
    Navbar text with an inline element
  </span>
    </nav>
-->
    <!-- <nav class="navbar navbar-dark bg-primary">

    </nav>-->

    <!--
       <div class="cover container d-flex h-100 p-3 mx-auto flex column">
           <header class="masthead mb-auto">
               <div class="inner">
                   <h3 class="masthead mb-auto"></h3>
                   <nav class="nav nav-masthead justify-content-centre">
                       <a class="nav-link active" href="#">Home</a>
                       <a class="nav-link" href="#">Features</a>
                       <a class="nav-link" href="#">Contact</a>
                   </nav>
               </div>
           </header>
           <main role="main" class="inner cover">
               <h1 class="cover-heading">Cover your page</h1>
               <p class="lead">
                   Cover is a one page template for building the simple and beautiful home pages.
                   Download, edit the text and add your full screen background photo to make it your
                   own.
               </p>
               <p class="lead">
                   <a href="#" class="btn btn-lg btn-secondary">Learn more</a>
               </p>
           </main>
           <footer class="mastfoot mt-auto">
               <div class="inner">
                   <p>
                       Cover template for
                       <a href="https://getbootstrap.com/">Bootstrap</a>
                       , by
                       <a href="https://twitter.com/mdo">@mdo</a>
                   </p>
               </div>
           </footer>

       </div>
   -->
{% endblock %}