{% extends "../base.html" %}
{% load static %}
{% block page-css-class %}cover-container d-flex h-25 p-3 mx-auto flex-column {% endblock %}
{% load wagtailcore_tags wagtailimages_tags %}
{% block body_class %}Home{% endblock %}
{% block extra_css %}
    {# Override this in templates to add extra stylesheets #}
    <link rel="stylesheet" href='/static/css/homePage.css'>

{% endblock %}
{% block extra_js %}
    {# Override this in templates to add extra javascript #}

{% endblock %}

{% block meta_descr %}
    Fortress SEFA Home - doors  shutters | Security solutions, Environmental applications, Fire protection &
    Architectural.
    Over 40 years of providing industry leading products.
{% endblock %}



{% block content %} {#    html stuff sits in here#}

    <ul class="text hidden">
        <li>S</li>
        <li class="ghost">e</li>
        <li class="ghost">c</li>
        <li class="ghost">u</li>
        <li class="ghost">r</li>
        <li class="ghost">i</li>
        <li class="ghost">t</li>
        <li class="ghost">y</li>

        <li class="spaced">E</li>
        <li class="ghost">n</li>
        <li class="ghost">v</li>
        <li class="ghost">i</li>
        <li class="ghost">r</li>
        <li class="ghost">o</li>
        <li class="ghost">n</li>
        <li class="ghost">m</li>
        <li class="ghost">e</li>
        <li class="ghost">n</li>
        <li class="ghost">t</li>

        <li class="spaced">F</li>
        <li class="ghost">i</li>
        <li class="ghost">r</li>
        <li class="ghost">e</li>

        <li class="spaced">A</li>
        <li class="ghost">r</li>
        <li class="ghost">c</li>
        <li class="ghost">h</li>
        <li class="ghost">i</li>
        <li class="ghost">t</li>
        <li class="ghost">e</li>
        <li class="ghost">c</li>
        <li class="ghost">t</li>
        <li class="ghost">u</li>
        <li class="ghost">r</li>
        <li class="ghost">e</li>
    </ul>

    <div class="homeInfo1 fadeonload">
        {{ page.intro|richtext }}
    </div>


    <table class="overview">
        <tr class="box one fadeInBlock">
            <td>
                <div class="homeInfo2">
                    {{ page.securityText|richtext }}
                </div>
            </td>
            <td>
                <!--div for image of security-->
                <div class="homeIm1">
                    {{ page.securityImage|richtext }}
                </div>
            </td>
        </tr>
        <tr class="box two fadeInBlock">
            <td>
                <!--div for image of environment-->
                <div class="homeIm2">
                    {{ page.environmentImage|richtext }}
                </div>
            </td>
            <td>
                <div class="homeInfo3">
                    {{ page.environmentText|richtext }}
                </div>
            </td>
        </tr>
        <tr class="box three fadeInBlock">
            <td>
                <div class="homeInfo4">
                    {{ page.fireText|richtext }}
                </div>

            </td>
            <td>
                <!--div for image of fire-->
                <div class="homeIm3">
                    {{ page.fireImage|richtext }}
                </div>
            </td>
        </tr>

        <tr class="box four fadeInBlock">
                <td><!--div for image of architecture-->

                    <div class="homeIm4">
                        {{ page.architecturalImage|richtext }}
                    </div>

                </td>
                <td>
                    <div class="homeInfo5">
                        {{ page.architecturalText|richtext }}
                    </div>
                </td>
        </tr>

    </table>


{% endblock %}