{% extends "../base.html" %}
{% load static %}
{% block page-css-class %}cover-container w-100 d-flex p-3 mx-auto flex-column{% endblock %}
{% load wagtailcore_tags wagtailimages_tags %}
{% block body_class %}Partition Screens{% endblock %}
{% block extra_css %}
    {# Override this in templates to add extra stylesheets #}

{% endblock %}
{% block extra_js %}
    {# Override this in templates to add extra javascript #}
<script src="../../static/js/rotate_txt.js"></script>
{% endblock %}
{% block meta_descr %}
    Fortress SEFA Contact us. Belfast 6 Trench Road Northern Ireland office. Email - info@fortress-sefa.com. Get directions via google maps

{% endblock %}

{% block content %}
    {% include 'type_text.html' %}
{% endblock %}