{% extends "account/base.html" %}

{% load static %}
{% block page-css-class %}cover-container w-100 d-flex h-25 p-3 flex-column{% endblock %}
{% load wagtailcore_tags wagtailimages_tags %}
{% block body_class %}Overview Account{% endblock %}
{% block extra_css %}
    {# Override this in templates to add extra stylesheets #}
{% endblock %}
{% block extra_js %}
    {# Override this in templates to add extra javascript #}
{% endblock %}
{% block meta_descr %}
    Fortress SEFA About us. Links to socials and linkedin is included in this page.

{% endblock %}
{% block content %}
    <h1>{{ page.title }}</h1>

    {% if request.user.is_authenticated %}

        <p>Here is your account over view {{ request.user.username }}</p>

    {% endif %}

    <form action="{% pageurl page %}" method="POST">
        {% csrf_token %}
        <div class="forgotten-password">
            <div class="row">
                <div class="col-45">
                    <div class="new-body">
                        <button class="learn-more" type="submit">
                            <div class="circle">
                                <span class="icon arrow"></span>
                            </div>
                            <p class="button-text">Change</p>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </form>
    First name: {{ request.user.first_name }}<br/>
    Last name: {{ request.user.last_name }}<br/>
    Email: {{ request.user.email }}<br/>
    Encrypted password: {{ request.user.password }}<br/>

        Groups: {{ request.user.groups }}<br/>

    Permissions: {{ request.user.has_perm }}<br/>
    Is staff: {{ request.user.is_staff }}<br/>
    Is active: {{ request.user.is_active }}<br/>
    Is superuser: {{ request.user.is_superuser }}<br/>
    Last login: {{ request.user.last_login }}<br/>
    Date joined: {{ request.user.date_joined }}<br/>

    Full name: {{ request.user.get_full_name }}<br/>


{% endblock %}