{% extends "../second_base.html" %}
{% load static %}
{% block page-css-class %}cover-container w-100 d-flex h-25 p-3 mx-auto flex-column{% endblock %}
{% load wagtailcore_tags wagtailimages_tags %}
{% block body_class %}Password Reset{% endblock %}
{% block extra_css %}
    {# Override this in templates to add extra stylesheets #}
    <link rel="stylesheet" href='/static/css/login.css'>
    <link rel="stylesheet" href='/static/css/buttons.css'>


{% endblock %}
{% block extra_js %}
    {# Override this in templates to add extra javascript #}


{% endblock %}
{% block meta_descr %}
    Fortress SEFA password reset confirmation page



{% endblock %}

{% block content %}

    <div class="signup">
        <div class="pass-confirm">
            <p>Your password reset is confirmed.</p>
            <p>An email has been sent to <label id="demo2"></label>
            <p>Password reset to <label id="demo3"></label>
            <p>Check your emails to see what the new password is</p>

            <a href="/login-architect">
                <div class="box-1">
                    <div class="btn btn-one" style="padding-top: 0">
                        <span>Return to Login »</span>
                    </div>
                </div>
            </a>
            <br/>
            <p id="demo"></p>

        </div>
    </div>




{% endblock %}