{% extends "../base.html" %}
{% load static %}
{% block page-css-class %}cover-container w-100 d-flex h-100 p-3 mx-auto flex-column{% endblock %}
{% load wagtailcore_tags wagtailimages_tags %}
{% block body_class %}Privacy{% endblock %}
{% block extra_css %}
    {# Override this in templates to add extra stylesheets #}

{% endblock %}
{% block extra_js %}
    {# Override this in templates to add extra javascript #}
{% endblock %}
{% block meta_descr %}
    Fortress SEFA privacy page. Find information on our privacy policies.

{% endblock %}

{% block content %}
    <div class="human-rights alternative-colour">
        <h1>Privacy policy <i class="fas fa-user-secret"></i></h1>

        {% comment %}<h4>1. Introduction</h4>
        <div class="text">
            <ul>
                <li>1.1 We are committed to safeguarding the privacy of Fortress-SEFA visitors and service users.</li>
                <li>1.2 This policy applies where we are acting as a data controller with respect to the personal data
                    of Fortress-SEFA visitors and service users; in other words, where we determine the purposes and
                    means
                    of the processing of that personal data.
                </li>
                <li>1.3 We use cookies on our website. Insofar as those cookies are not strictly necessary for the
                    provision of Fortress-SEFA and services, we will ask you to consent to our use of cookies when you
                    first visit
                    our website.
                </li>
            </ul>
        </div>

        <h4>2. Credit</h4>
        <div class="text">
            <ul>
                <li>This document was created using a template from SEQ Legal .com
                    <a href="https://seqlegal.com/free-legal-documents/privacy-policy" target="_blank"><i
                            class="fas fa-link"></i>
                    </a>
                </li>
            </ul>
        </div>
        <h4>3. How we use your personal data</h4>
        <div class="text">
            <ul>
                <li>3.1 We may process data about your use of our website and services ("usage data"). The usage data
                    may include browser type and version, referral source, length of visit, page views and website
                    navigation paths,
                    as well as information about the timing, frequency and pattern of your service use. The source of
                    the usage
                    data is google analytics. This usage data may be processed for the purposes of analysing the use of
                    the website and
                    services. The legal basis for this processing our legitimate interests, namely monitoring and
                    improving our
                    website and services.
                </li>
                <li>3.2 We may process your website user account data ("account data"). The account data will include
                    your name, address and email address. The source of the account data is you and your employer. The
                    account data may be
                    processed for the purposes of operating our website, providing our services, ensuring the security
                    of our website and
                    services, maintaining back-ups of our databases and communicating with you. The legal basis for this
                    processing is legitimate interests, namely the proper administration of our website and business.
                </li>
                <li>3.3 We may process information that you post for publication on our website or through our services
                    ("publication data"). The publication data may be processed for the purposes of enabling such
                    publication and
                    administering our website and services. The legal basis for this processing is our legitimate
                    interests, namely the
                    proper administration of our website and business.
                </li>
                <li>3.4 We may process information contained in any enquiry you submit to us regarding goods and/or
                    services ("enquiry data"). The enquiry data may be processed for the purposes of offering, marketing
                    and
                    selling relevant goods and/or services to you. The legal basis for this processing is the
                    performance of a contract
                    between you and us and/or the taking steps, at your request, to enter into such a contract.
                </li>
                <li>3.5 Please do not supply any other person's personal data to us, unless we prompt you to do so.</li>
            </ul>
        </div>
        <h4>4. Providing your personal data to others</h4>
        <div class="text">
            <ul>
                <li>Unfortunately, the transmission of information via the internet is not completely secure.
                    Although we will do our best to protect your personal data, we cannot guarantee the security
                    of your data transmitted to our site or any of our social media facilities; any transmission
                    is at your own risk. Once we have received your information, we will use strict procedures
                    and security features to try to prevent unauthorised access.
                </li>
            </ul>
        </div>
        <h4>5. Retaining and deleting personal data</h4>
        <div class="text">
            <ul>
                <li>5.1 This Section sets out our data retention policies and procedure, which are designed to help
                    ensure that we comply with our legal obligations in relation to the retention and deletion of
                    personal data.
                </li>
                <li>5.2 Personal data that we process for any purpose or purposes shall not be kept for longer than is
                    necessary for that purpose or those purposes.
                </li>
            </ul>
        </div>
        <h4>6. Your rights</h4>
        <div class="text">
            <ul>
                <li>6.1 In this section, we have listed the rights that you have under data protection law.</li>
                <li>6.2 Your principal rights under data protection law are:</li>
                <li class="section6">(a) the right to access - you can ask for copies of your personal data;</li>
                <li class="section6">(b) the right to rectification - you can ask us to rectify inaccurate personal data
                    and to complete incomplete personal data;
                </li>
                <li class="section6">(c) the right to erasure - you can ask us to erase your personal data;</li>
                <li class="section6">(d) the right to restrict processing - you can ask use to restrict the processing
                    of your personal data;
                </li>
                <li class="section6">(e) the right to object to processing - you can object to the processing of your
                    personal data;
                </li>
                <li class="section6">(f) the right to data portability - you can ask that we transfer your personal data
                    to another organisation or to you;
                </li>
                <li class="section6">(g) the right to complain to a supervisory authority - you can complain about our
                    processing of your personal data; and
                </li>
                <li class="section6">(h) the right to withdraw consent - to the extent that the legal basis of our
                    processing of your personal data is consent, you can withdraw that consent.
                </li>
                <li>
                    6.3 Our site may, from time to time, contain links to and from the websites of our partner networks,
                    social media providers, advertisers and affiliates. If you follow a link to any of these websites,
                    please note that these websites have their own privacy policies and that we do not accept any
                    responsibility or liability for these policies. Please check these policies before you submit
                    any personal data to these websites.
                </li>
                <li>6.4 The Information Commissioner’s Office is the supervisory authority pursuant to the Acts and
                    will deal with all complaints about collection and use of your information -
                    for more information visit
                    <a href="https://www.ico.org.uk/concerns/" target="_blank">
                        ico.org.uk/concerns/
                    </a>
                </li>
            </ul>
        </div>
        <h4>7. About cookies</h4>
        <div class="text">
            <ul>
                <li>7.1 Our website uses cookies to distinguish you from other users of our website.
                    This helps us to provide you with a good experience when you browse our website
                    and also allows us to improve our site. For detailed information on the cookies we use
                    and the purposes for which we use them see our Cookie policy
                    <a href="/cookies">
                        <i class="fas fa-cookie-bite" style="font-size: 30px"></i>
                    </a>.
                </li>
                <li>7.2 A cookie is a file containing an identifier (a string of letters and numbers) that is sent by a
                    web server to a web browser and is stored by the browser. The identifier is then sent back to the
                    server each time
                    the browser requests a page from the server.
                </li>
            </ul>
        </div>
        <h4> 8. Cookies that we use</h4>
        <div class="text">
            <ul>
                <li> We use cookies for the following purposes:</li>
                <li class="section8">(a) authentication and status - we use cookies to identify you when you visit our
                    website and as you navigate our website, and to determine if you are logged into the website
                </li>
                <li class="section8">(b) analysis - we use cookies to help us to analyse the use and performance of our
                    website and services
                </li>
            </ul>
        </div>
        <h4>9. Cookies used by our service providers</h4>
        <div class="text">
            <ul>
                <li>9.1 Our service providers use cookies and those cookies may be stored on your computer when you
                    visit our website.
                </li>
                <li>9.2 We use Google Analytics. Google Analytics gathers information about the use of our website by
                    means of cookies. The information gathered is used to create reports about the use of our website.
                    You can
                    find out more about Google's use of information by visiting
                    <a href="https://www.google.com/policies/privacy/partners/" target="_blank">
                        google.com/policies/privacy/partners/
                    </a>
                    and you can review Google's privacy policy at
                    <a href=" https://policies.google.com/privacy" target="_blank">
                        policies.google.com/privacy
                    </a>
                </li>
            </ul>
        </div>
        <h4>10. Our details</h4>
        <div class="text">
            <ul>
                <li>10.1 This website is owned and operated by Fortress-SEFA.</li>
                <li>10.2 We are registered in United Kingdom under registration number NC000941, and our registered
                    office is at &ensp; Trench Road, Hydepark Industrial Estate, Newtownabbey, Antrim, BT36 4TY.
                </li>
                <li>10.3 Our principal place of business is at 6 Trench Road, Newtownabbey, Northern Ireland.</li>
            </ul>
        </div>
        <h4>11. You can contact us:</h4>
        <div class="text">
            <ul id="section11">
                <li>
                    (a) by post, to the postal address given below
                    <a href="/contact-us">
                        <i class="fas fa-link"></i>
                    </a>
                </li>
                <li>
                    (b) using our website contact form
                    <a href="/contact-page">
                        <i class="fas fa-link"></i>
                    </a>
                </li>
                <li>
                    (c) by telephone, on the contact number published on our website or
                </li>
                <li>
                    (d) by email, using the email address published on our website
                </li>
                <li>
                    <br/>Of which you can find all within below
                </li>
            </ul>

        </div>{% endcomment %}

        <div class="homeInfo1">
            {{ page.intro|richtext }}
        </div>

    </div>

{% endblock %}