{% extends "../base.html" %}
{% load static %}
{% block page-css-class %}cover-container w-100 d-flex h-100 p-3 mx-auto flex-column{% endblock %}
{% load wagtailcore_tags wagtailimages_tags %}
{% block body_class %}Privacy{% endblock %}
{% block extra_css %}
    {# Override this in templates to add extra stylesheets #}

{% endblock %}
{% block extra_js %}
    {# Override this in templates to add extra javascript #}
{% endblock %}
{% block meta_descr %}
    Fortress SEFA privacy page. Find information on our privacy policies.

{% endblock %}

{% block content %}
    <div class="human-rights alternative-colour">
    <h1>Privacy policy</h1>
    <h4>1. Introduction</h4>
    <div class="text">
        <ul>
            <li>1.1 We are committed to safeguarding the privacy of fortress-sefa visitors and service users.</li>
            <li>1.2 This policy applies where we are acting as a data controller with respect to the personal data of
                fortress-sefa visitors and service users; in other words, where we determine the purposes and means of
                the processing of that personal data.
            </li>
            <li>1.3 We use cookies on our website. Insofar as those cookies are not strictly necessary for the provision
                of fortress-sefa and services, we will ask you to consent to our use of cookies when you first visit our
                website.
            </li>
        </ul>
    </div>

        <h4>2.    Credit</h4>
    <div class="text">
        <ul>
            <li>2.1    This document was created using a template from SEQ Legal
                (https://seqlegal.com/free-legal-documents/privacy-policy).</li>
        </ul>
    </div>
        <h4>3.    How we use your personal data</h4>
    <div class="text">
        <ul>
            <li>3.1    We may process [data about your use of our website and services] ("usage data"). The usage data may include
    browser type and version, referral source, length of visit, page views and website navigation paths, as well as
    information about the timing, frequency and pattern of your service use. The source of the usage data is google
    analytics. This usage data may be processed for the purposes of analysing the use of the website and services. The
                legal basis for this processing our legitimate interests, namely monitoring and improving our website and services.</li>
    <li>3.2    We may process your website user account data ("account data"). The account data may include your name and
    email address. The source of the account data is you or your employer. The account data may be processed for the
    purposes of operating our website, providing our services, ensuring the security of our website and services,
    maintaining back-ups of our databases and communicating with you. The legal basis for this processing is legitimate
        interests, namely the proper administration of our website and business.</li>
     <li>3.3    We may process information that you post for publication on our website or through our services ("publication
    data"). The publication data may be processed for the purposes of enabling such publication and administering our
    website and services. The legal basis for this processing is our legitimate interests, namely the proper
         administration of our website and business.</li>
     <li>3.4    We may process information contained in any enquiry you submit to us regarding goods and/or services
    ("enquiry data"). The enquiry data may be processed for the purposes of offering, marketing and selling relevant
    goods and/or services to you. The legal basis for this processing is the performance of a contract between you and
            us and/or the taking steps, at your request, to enter into such a contract.</li>
            <li>3.5    Please do not supply any other person's personal data to us, unless we prompt you to do so.</li>
        </ul>
    </div>
    4.    Providing your personal data to others
    4.1    Your personal data held in our website database will be stored on the servers of our hosting services
    providers wagtail.com.
    5.    Retaining and deleting personal data
    5.1    This Section 6 sets out our data retention policies and procedure, which are designed to help ensure that we
    comply with our legal obligations in relation to the retention and deletion of personal data.
    5.2    Personal data that we process for any purpose or purposes shall not be kept for longer than is necessary for
    that purpose or those purposes.
    6.    Your rights
    6.1    In this Section 7, we have listed the rights that you have under data protection law.
    6.2    Your principal rights under data protection law are:
    (a)    the right to access - you can ask for copies of your personal data;
    (b)    the right to rectification - you can ask us to rectify inaccurate personal data and to complete incomplete
    personal data;
    (c)    the right to erasure - you can ask us to erase your personal data;
    (d)    the right to restrict processing - you can ask use to restrict the processing of your personal data;
    (e)    the right to object to processing - you can object to the processing of your personal data;
    (f)    the right to data portability - you can ask that we transfer your personal data to another organisation or to
    you;
    (g)    the right to complain to a supervisory authority - you can complain about our processing of your personal
    data; and
    (h)    the right to withdraw consent - to the extent that the legal basis of our processing of your personal data is
    consent, you can withdraw that consent.
    7.    About cookies
    7.1    A cookie is a file containing an identifier (a string of letters and numbers) that is sent by a web server to
    a web browser and is stored by the browser. The identifier is then sent back to the server each time the browser
    requests a page from the server.
    8.    Cookies that we use
    8.1    We use cookies for the following purposes:
    (a)    authentication and status - we use cookies [to identify you when you visit our website and as you navigate
    our website, and to determine if you are logged into the website
    (e)    analysis - we use cookies to help us to analyse the use and performance of our website and services

    9.    Cookies used by our service providers
    9.1    Our service providers use cookies and those cookies may be stored on your computer when you visit our
    website.
    9.2    We use Google Analytics. Google Analytics gathers information about the use of our website by means of
    cookies. The information gathered is used to create reports about the use of our website. You can find out more
    about Google's use of information by visiting https://www.google.com/policies/privacy/partners/ and you can review
    Google's privacy policy at https://policies.google.com/privacy
    10.    Our details
    10.1    This website is owned and operated by fortress-sefa.
    10.2    We are registered in [England and Wales] under registration number [number], and our registered office is at
    [address].
    10.3    Our principal place of business is at [address].
    11.    You can contact us:
    (a)    by post, to the postal address given above
    (b)    using our website contact form
    (c)    by telephone, on the contact number published on our website or
    (d)    by email, using the email address published on our website
    </div>

{% endblock %}