{% extends "../base.html" %}
{% load static %}
{% block page-css-class %}cover-container w-100 d-flex h-100 p-3 mx-auto flex-column{% endblock %}
{% load wagtailcore_tags wagtailimages_tags %}
{% block body_class %}Pro Tec{% endblock %}
{% block extra_css %}
    {# Override this in templates to add extra stylesheets #}
    <link rel="stylesheet" href="{%static '/css/blog.css'%}">
    <link rel="stylesheet" href="{%static '/css/w3.css'%}">
    <link rel="stylesheet" href="{%static '/css/image-gallery.css'%}">



{% endblock %}
{% block extra_js %}
    {# Override this in templates to add extra javascript #}
<script src="{%static '/js/rotate_text.js'%}"></script>
{% endblock %}
{% block meta_descr %}
    As part of Fortress-SEFA there is Pro-Tec which powder coat and have shot blast facilities for doors and shutters.

{% endblock %}

{% block content %}
    <div class="protec">
        <div class="protec-info">
            <div class="slant-in">
                <div class="banner">
                    <div class="clipped">
                        <div class="product_head">
                            <div class="css-typing">
                                <p>
                                    View below information on {{ page.title }}
                                </p>
                                <p>
                                    Pro-Tec Powder coating

                                </p>

                                <p>
                                    We do a large range of colours
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="intro alternative-colour" data-aos="fade-down">
                <h1>
                    How does ProTec work.
                </h1>
                {{ page.intro|richtext }}
            </div>
        </div>

        {# start carousel #}
        {# second attempt #}
        <hr/>
        <div class="intro">
            <h2>Choose your colour.</h2>
            <p>Colour names will appear on full images </p>
            <p>Colours are in RAL and British Standard format</p>
        </div>

        <div id="carouselExampleIndicators" class="carousel" data-ride="carousel">
            <ul class="carousel-indicators">
                {% for item in page.protec_images.all %}
                    <li data-target="#carouselExampleIndicators" data-slide-to="{{ forloop.counter|add:"-1" }}"
                        class="{% if forloop.counter == 1 %}active{% endif %}">
                    </li>

                {% endfor %}
            </ul>
            <div class="blog">
                <div class="carousel-inner">
                    {% for item in page.protec_images.all %}
                        {% image item.image fill-250x250 as img %}

                        <div class="carousel-item {% if forloop.counter == 1 %}active{% endif %}">
                            <img src="{{ img.url }}" class="d-block w-100" data-aos="fade-down" alt="{{ img.alt }}">


                            <div class="imageCounter">
                                <img src="/media/original_images/camera.png" id="display" alt="camera image">
                                {{ forloop.counter }} of {{ page.protec_images.all.count }}

                            </div>
                            <div class="protec-title">
                                {{ item.caption }}
                            </div>

                        </div>
                    {% endfor %}
                </div>

                <div class="arrow-sets" id="protec-arrows">
                    <a class="left recommended-item-control" href="#carouselExampleIndicators"
                       data-slide="prev">
                        <i class="fa fa-angle-left"></i>
                    </a>
                    <a class="right recommended-item-control" href="#carouselExampleIndicators"
                       data-slide="next">
                        <i class="fa fa-angle-right"></i>
                    </a>
                </div>
            </div>
        </div>

        {# end carousel #}


        {% comment %} <div class="gallery thumbs">
            <div class="gallery">
                <div class="container">
                    {% for item in page.protec_images.all %}
                        <li data-target="#carouselExampleIndicators" data-slide-to="{{ forloop.counter|add:"-1" }}"
                            class="{% if forloop.counter == 1 %}active{% endif %}">
                            {% image item.image fill-100x50-c100 %}
                            <img src="{{ img.url }}" class="item" alt="{{ img.alt }}">
                            <p id="colour-title">{{ item.caption }}</p></li>
                    {% endfor %}
                </div>
            </div>
        </div>{% endcomment %}
            <main class="container-snap full image-gallery" id="gallery">
                {% for item in page.protec_images.all %}

                    <div class="child-snap height-depend {% if forloop.counter == 1 %}active{% endif %}">
                        {% image item.image fill-100x50-c100 as img %}
                        <img src="{{ img.url }}"
                             data-target="#carouselExampleIndicators"
                             data-slide-to="{{ forloop.counter|add:"-1" }}"
                             alt="{{ img.alt }}">
                        {% comment %}
                        <p id="colour-title">{{ item.caption }}</p>
                        {% endcomment %}
                    </div>


                {% endfor %}
            </main>

        <hr/>
        <div class="image-container1 alternative-colour">
            <div class="image-container2 ">
                <img src="/media/images/protec9.jpg" class="full-image" alt="main">
                <div class="image-container2 images-2" data-aos="fade-down">
                    <img src="/media/images/protec8.jpg" class="wide-images-left" alt="protec 1">
                    <img src="/media/images/protec7.jpg" class="tall-images-left" alt="protec 2">
                </div>
                <div class="image-container2 images-2" data-aos="zoom-in">
                    <img src="/media/images/protec4.jpg" class="tall-images-left" alt="protect 3">
                    <img src="/media/images/protec6.jpg" class="wide-images-left" alt="protec 4">

                </div>
                <div class="image-container2 images-2" data-aos="fade-in">
                    <img src="/media/images/protec2.jpg" class="wide-images-left" alt="protec 5">
                    <img src="/media/images/protec1.jpg" class="tall-images-left" alt="protec 6">
                </div>
            </div>
        </div>
        <div class="contact" data-aos="fade-down">
            <h1>
                Where to find ProTec.
            </h1>
            {% comment %}<p>
                120 Old Coach Road<br/>
                Temple Patrick<br/>
                BALLYCLARE, BT39 0HA United Kingdom<br/>
                +44-2894433693<br/>
                www.protecltd.com<br/>
                Company Type: Private Limited Company Subsidiary
            </p>{% endcomment %}
            {{ page.location|richtext }}

        </div>
    </div>
{% endblock %}