{% extends "../base.html" %}
{% load static %}
{% block page-css-class %}cover-container d-flex h-100 p-3 mx-auto flex-column{% endblock %}
{% load wagtailcore_tags wagtailimages_tags %}
{% block body_class %}Pro-Tec{% endblock %}
{% block extra_css %}
    {# Override this in templates to add extra stylesheets #}

{% endblock %}
{% block extra_js %}
    {# Override this in templates to add extra javascript #}
{% endblock %}
{% block meta_descr %}
    As part of Fortress-SEFA there is Pro-Tec which powder coat and have shot blast facilities for doors and shutters.

{% endblock %}

{% block content %}
    <p>colours</p>
{% endblock %}