{% extends "../base.html" %}
{% load static %}
{% block page-css-class %}cover-container w-100 d-flex h-100 p-3 mx-auto flex-column{% endblock %}
{% load wagtailcore_tags wagtailimages_tags %}
{% block body_class %}Products{% endblock %}
{% block extra_css %}
    {# Override this in templates to add extra stylesheets #}

{% endblock %}
{% block extra_js %}
    {# Override this in templates to add extra javascript #}
{% endblock %}
{% block meta_descr %}
    Fortress SEFA Products - doors  shutters | Security solutions, Environmental applications, Fire protection &
    Architectural.
    Over 40 years of providing industry leading products.

{% endblock %}

{% block content %}
    <p>products</p>


    <div class="css-typing">
  <p>
    We make a range of products
  </p>
  <p>
   Doors
  </p>
  <p>
    Shutters
  </p>
</div>

{% endblock %}