{% extends "../base.html" %}
{% load static %}
{% block page-css-class %}cover-container w-100 d-flex h-100 p-3 mx-auto flex-column{% endblock %}
{% load wagtailcore_tags wagtailimages_tags %}
{% block body_class %}Products{% endblock %}
{% block extra_css %}
    {# Override this in templates to add extra stylesheets #}
    <link rel="stylesheet" href="{%static '/css/blog.css'%}">
    <link rel="stylesheet" href="{%static '/css/w3.css'%}">
    <link rel="stylesheet" href="{%static '/css/homePage.css'%}">
{% endblock %}
{% block extra_js %}
    {# Override this in templates to add extra javascript #}
<script src="{%static '/js/rotate_txt.js'%}"></script>
{% endblock %}
{% block meta_descr %}
    Fortress SEFA Products overview. Find each of our door ranges on their specific after you see each of our products
    on this page.
    Ranging from XD door to Security Rating 4 doors.

{% endblock %}

{% block content %}
    {% include 'type_text.html' %}

    <div class="products" id="main-products">
        <div class="overview alternative-colour">
            <article class="item">
                <div class="description">

                    <div id="alert">New</div>
                    {% comment %}<h3>XD Door</h3>
                    <h1>Our Best Yet.<br/>
                        More Security.<br/>
                        More Resistance.</h1>
                    <h3>Range of Frames</h3>
                    <p> Select Hardware</p>{% endcomment %}
                     {{ page.alert|richtext }}


                </div>

                <div class="prod-images">
                    <div id="carouselExampleIndicators" class="carousel" data-ride="carousel">

                        <ul class="carousel-indicators">
                            {% for item in page.products_images.all %}
                                <li data-target="#carouselExampleIndicators"
                                    data-slide-to="{{ forloop.counter|add:"-1" }}"
                                    class="{% if forloop.counter == 1 %}active{% endif %}">
                                </li>

                            {% endfor %}
                        </ul>
                        <div class="blog">
                            <div class="carousel-inner">
                                {% for item in page.products_images.all %}
                                    {% image item.image fill-10000x10000 as img %}

                                    <div class="carousel-item {% if forloop.counter == 1 %}active{% endif %}">
                                        <img src="{{ img.url }}" class="d-block w-100"
                                             alt="{{ img.alt }}"
                                             onclick="document.getElementById('modal01').style.display='block'; myFunction();">


                                        <div class="imageCounter">
                                            <img src="/media/original_images/camera.png" id="display">
                                            {{ forloop.counter }} of {{ page.products_images.all.count }}
                                        </div>

                                    </div>




                                {% endfor %}
                                <!-- The Modal -->
                                <div id="modal01" class="w3-modal" onclick="this.style.display='none'">
                                    <span class="w3-button w3-hover-white w3-xlarge w3-display-topright">&times;</span>
                                    <div class="w3-modal-content w3-animate-zoom">
                                        <img src="" id="modal" style="width:100%">

                                    </div>
                                </div>

                            </div>
                        </div>
                        <div class="arrow-sets">
                            <a class="left recommended-item-control" href="#carouselExampleIndicators"
                               data-slide="prev">
                                <i class="fa fa-angle-left"></i>
                            </a>
                            <a class="right recommended-item-control" href="#carouselExampleIndicators"
                               data-slide="next">
                                <i class="fa fa-angle-right"></i>
                            </a>
                        </div>
                    </div>
                    {# end carousel #}


                </div>
            </article>


        </div>


        <div class="intro" id="aboutExtra" data-aos="fade-down">
            <h1></h1>
        </div>


        <div class="movie">
            <img src="/media/videos/sr4 vid.gif" class="image" alt="sr4 vid">
            <div class="image-text">SR4 joins</div>

        </div>

        <hr/>

        <div class="all-blocks">
            {% for block in page.content %}
                {% include_block block %}
            {% endfor %}
        </div>
    </div>

{% endblock %}