{% extends "../temp_base.html" %}
{% load static %}
{% block page-css-class %}cover-container w-100 d-flex p-3 mx-auto flex-column{% endblock %}
{% load wagtailcore_tags wagtailimages_tags %}
{% block body_class %}Temp{% endblock %}
{% block extra_css %}
    {# Override this in templates to add extra stylesheets #}

{% endblock %}
{% block extra_js %}
    {# Override this in templates to add extra javascript #}
{% endblock %}
{% block meta_descr %}


{% endblock %}

{% block content %}
    <br/>
    <br/>
    <br/>
    <br/>

    <br/>
    <br/><br/>
    <br/>





    blah blah blah

{% endblock %}