{% extends "account/base.html" %}

{% load static %}
{% block page-css-class %}cover-container w-100 d-flex h-25 p-3 flex-column{% endblock %}
{% load wagtailcore_tags wagtailimages_tags %}
{% block body_class %}Deleted{% endblock %}
{% block extra_css %}
    {# Override this in templates to add extra stylesheets #}
{% endblock %}
{% block extra_js %}
    {# Override this in templates to add extra javascript #}
{% endblock %}
{% block meta_descr %}
    Fortress SEFA deleted account page

{% endblock %}
{% block content %}
    <h5>You have deleted your account successfully and have been logged out</h5>



{% endblock %}