/*https://lottiefiles.com/editor */
.bodymovinanim{display:block;margin:auto;cursor:pointer;}
.bodymovinanim svg{max-width:40px}
.bodymovinani{padding:30px;display:block;margin:auto;cursor:pointer;}
.bodymovinani svg{max-width:40px}
.bodymovinan{padding:30px;display:block;margin:auto;cursor:pointer;}
.bodymovinan svg{max-width:40px}
.bodymovi{padding:30px;width:92px;cursor:pointer;}
@media only screen and (max-width:640px){.footer-contents .bodymovi{padding:0;}
}
.bodymovi svg{max-width:40px;}
.bodyarrowUp-circle{padding:30px;width:92px;cursor:pointer;}
.bodyarrowUp-circle svg{max-width:40px;}
.bodyarrowUpload{padding:30px;width:92px;cursor:pointer;}
.bodyarrowUpload svg{max-width:40px;}
.bodylinkedIn, .bodyfacebook{cursor:pointer;max-width:100px;}
.bodyInfo{cursor:pointer;}
.bodyInfo svg{max-width:75px;}