{% load static wagtailuserbar %}

<!DOCTYPE html>
<html class="no-js" lang="en">
<head>
    <meta charset="utf-8"/>
    <link rel="icon" type="image/png" href="/media/original_images/fortress_sefa_ico.png"/>
    <title>
        {% block title %}
            {% if self.seo_title %}{{ self.seo_title }}{% else %}{{ self.title }}{% endif %}
        {% endblock %}
        {% block title_suffix %}
            {% with self.get_site.site_name as site_name %}
                {% if site_name %}| {{ site_name }}{% endif %}
            {% endwith %}
        {% endblock %}
    </title>
    <meta name="description" content="{% block meta_descr %}{% endblock %}"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    {#    #responsive stuff to work bootstrap##}
    {# Fonts #}
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,500,600,700" rel="stylesheet">
    <script defer src="https://use.fontawesome.com/releases/v5.8.1/js/all.js"
            integrity="sha384-g5uSoOSBd7KkhAMlnQILrecXvzst9TdC09/VM+pjDTCM+1il8RHz5fKANTFFb+gQ"
            crossorigin="anonymous"></script>
    <script src="https://kit.fontawesome.com/0969a8bc39.js"></script>
    {# Owl CSS #}
    <link rel="stylesheet" type="text/css" href="{% static 'css/owl.min.css' %}">
    {#for the carousel#}
    {# Global stylesheets #}
    <link rel="stylesheet" href='/static/css/cover_2.0.css'>
    <link rel="stylesheet" href='/static/css/bootstrap.css'>
    <link rel="stylesheet" href='/static/css/NavMENU.css'>
    <link rel="stylesheet" href='/static/css/footer.css'>
    <link rel="stylesheet" href='/static/css/owl.min.css'>
    <link rel="stylesheet" href='/static/css/owl.theme.default.min.css'>
    <link rel="stylesheet" href='/static/css/owl.carousel.css'>
    <link rel="stylesheet" href='/static/css/hamburgerAnim.css'>
    <link rel="stylesheet" href='/static/css/panel.css'>
    <link rel="stylesheet" href='/static/css/buttons.css'>
    <link rel="stylesheet" href='/static/css/fontawesome4.7.css'>
    <link rel="stylesheet" href='/static/css/login.css'>

    {#  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"#}
    {#  integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">#}
    {# <link rel="stylesheet" href='/static/css/NavMENU.css'> #}

    {# Global js #}


    {% block extra_css %}
        {# Override this in templates to add extra stylesheets #}

    {% endblock %}


</head>
<body class="{% block body_class %}{% endblock %}">
{% wagtailuserbar %}

<div class="{% block page-css-class %}{% endblock %}">
    <div class="centre-content">

        <div class="top">


            <div class="block">
                <body onload="myFunction()"></body>
                <div class="signup">
                    <a href="/"><i class="fa fa-home" style="font-size:24px; color:black"></i></a>
                    {% block content %}{% endblock %}
                <div class="copyrightForm">
                        {% include 'copyright_code.html' %}
                    </div>
                </div>


            </div>

        </div>
    </div>

</div>

{# Global javascript #}
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"
        integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script>window.jQuery || document.write('<script src="../../assets/js/vendor/jquery-slim.min.js"><\/script>')</script>
<script src="/static/js/hamburgerAnim.js"></script>
<script src="/static/js/homepage.js"></script>
<script src="/static/js/base.js"></script>
{##<script type="text/javascript" src="{% static 'js/bootstrap.bundle.min.js' %}"></script>##}
<script src="/static/js/owl.min.js"></script>
<script src="/static/js/owl.carousel.js"></script>
<script src="/static/js/slim.min.js"></script>
<script src="/static/js/jquery-3.4.1.min.js"></script>
<script src="/static/js/panel.js"></script>
<script src="/static/js/disqus.js"></script>
<script src="/static/js/popper.min.js"></script>
<script src="/static/js/bootstrap.min.js"></script>
<script src="/static/js/about.js"></script>
<script src="/static/js/sign_up.js"></script>
<script src="/static/js/url_extract.js"></script>
<script src="/static/js/account.js"></script>
{#<script type="text/javascript" src="{% static 'js/match-height.min.js' %}"></script>#}
{% block extra_js %}
    {# Override this in templates to add extra javascript #}

{% endblock %}


<script id="dsq-count-scr" src="//fortress-sefa.disqus.com/count.js" async></script>

</body>
</html>
