{% extends "account/base.html" %}
{% block page-css-class %}cover-container w-100 d-flex h-25 p-3 mx-auto flex-column{% endblock %}
{% load i18n %}

{% block title %} {% trans "Change Password" %}{% endblock %}

{% block extra_css %}
    {# Override this in templates to add extra stylesheets #}

{% endblock %}

{% block content %}
    <h1>{% trans "Change Password" %}</h1>

    <form method="POST" action="{% url 'account_change_password' %}" class="password_change">
        {% csrf_token %}


        {% for field in form %}
            <div class="field_error">
                {% if form.errors %}
                    {% for error in field.errors %}
                        <p class="error-message">
                            <strong>{{ error|escape }}</strong>
                        </p>
                    {% endfor %}
                {% endif %}
                {% if field.help_text %}
                    <p class="help">{{ field.help_text|safe }}</p>
                {% endif %}
            </div>

            <div class="row">

                <div class="col-25">
                    {{ field.label_tag }}

                </div>
                {% if forloop.counter == 1 %}
                    <div class="col-75 wrapt">
                        {{ field }}

                        <label class="checkbox" for="passShowIcon"><input name="passShowIcon" type="checkbox"
                                                                          class="passw"
                                                                          onclick="showHidePassword_idold();">
                            <span class="im fa fa-fw fa-eye "></span></label>
                    </div>
                {% elif forloop.counter == 2 %}
                    <div class="col-75 wrapt">
                        {{ field }}

                        {#   class="text" type="password" id="pass" name="password"#}


                        <label class="checkbox" for="passShowIcon"><input name="passShowIcon" type="checkbox"
                                                                          class="passNew"
                                                                          onclick="showHidePassword_id1();">
                            <span class="im1 fa fa-fw fa-eye "></span></label>
                    </div>
                {% else %}

                    <div class="col-75">
                        {{ field }}
                    </div>
                {% endif %}
            </div>
            {% if forloop.counter == 1 %}
                <hr>
            {% endif %}

        {% endfor %}
        <button type="submit" name=action>{% trans "Change Password" %}</button>
    </form>

{% endblock %}
