.about-page img {
    max-width: 100%;
    height: auto;

}

.about-page{
    text-transform: none;
}

#oldFortress {
    max-width: 90%;
}

#aboutExtra {
    padding: 50px 20% 75px;
}


.aboutHeading {
    padding-top: 50px;
    padding-bottom: 50px;
    text-align: center;
}

.pastIntro {
    padding: 75px 0 150px 0;
}

.flex-container {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;

    /*animation: rattle 0.2s;*/
    animation-delay: 1s;
}

@media only screen and(max-width: 640px) {
    .flex-container {
        padding-top: 20px;
    }
}

.pastBox {
    box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.2), 0 4px 20px 0 rgba(0, 0, 0, 0.19);
    margin-left: 2%;
}

@media only screen and(min-width: 500px) {
    .flex-item {
        flex-basis: 320px;
    }
}

.flex-item {
    flex-grow: 1;
    flex-shrink: 0;
    flex-basis: 33.3333%;
    flex-basis: 260px;
    display: flex;
    justify-content: center;
    flex-direction: column;
}


.chat {
    width: auto;
    display: flex;
    flex-direction: column;
    padding: 10px;
}

.messages {
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    /*animation: rattle 0.2s;*/
    animation-delay: 1s;

}

.message {
    /*animation: slam 1s;*/
    animation-timing-function: ease-in;
    padding: 8px 15px;
    margin-top: 5px;
    margin-bottom: 5px;
    display: inline-block;

}

.yours {
    align-items: flex-start;
}

.yours .message {
    margin-right: 25%;
    background-color: #eee;
    position: relative;
}

.yours .message.last:before {
    content: "";
    position: absolute;
    z-index: 0;
    bottom: 0;
    left: -7px;
    height: 20px;
    width: 20px;
    background: #eee;
    border-bottom-right-radius: 15px;
}

.yours .message.last:after {
    content: "";
    position: absolute;
    z-index: 1;
    bottom: 0;
    left: -10px;
    width: 10px;
    height: 20px;
    background: white;
    border-bottom-right-radius: 10px;
}

.mine {
    align-items: flex-end;
}

.mine .message {
    color: white;
    margin-left: 25%;
    margin-right: 15px;
    background: linear-gradient(to bottom, #00D0EA 0%, #0085D1 100%) fixed;
    position: relative;
}

.mine .message.last:before {
    content: "";
    position: absolute;
    z-index: 0;
    bottom: 0;
    right: -8px;
    height: 20px;
    width: 20px;
    background: linear-gradient(to bottom, #00D0EA 0%, #0085D1 100%) fixed;
    border-bottom-left-radius: 15px;
}

.mine .message.last:after {
    content: "";
    position: absolute;
    z-index: 1;
    bottom: 0;
    right: -10px;
    width: 10px;
    height: 20px;
    background: rgb(168, 167, 167);
    background: linear-gradient(90deg, rgba(168, 167, 167, 1) 0%, rgba(195, 194, 194, 1) 3%, rgba(236, 246, 249, 1) 100%);

    border-bottom-left-radius: 10px;
}

/*start of slam animation*/
@keyframes slam {
    0% {
        transform: scale(10, 10);
        opacity: 0;
    }

    40% {
        opacity: 0;
    }

    100% {
        transform: scale(1, 1);
        opacity: 1;
    }
}

@keyframes rattle {
    0% {
        margin-top: 0;
        margin-left: 0;
    }
    10% {
        margin-top: -5px;
        margin-left: 0;
    }
    20% {
        margin-top: 0;
        margin-left: -5px;
    }
    30% {
        margin-top: 5px;
        margin-left: 0;
    }
    40% {
        margin-top: 0;
        margin-left: 5px;
    }
    50% {
        margin-top: -2px;
        margin-left: 0;
    }
    60% {
        margin-top: 0;
        margin-left: -2px;
    }
    70% {
        margin-top: 2px;
        margin-left: 0;
    }
    80% {
        margin-top: 0;
        margin-left: 2px;
    }
    90% {
        margin-top: -1px;
        margin-left: 0;
    }
    100% {
        margin-top: 0;
        margin-left: 0;
    }
}

/*end of slam animation*/


.our-Brands {
    padding-top: 50px;
    padding-bottom: 10%;
}

.global-partners {
    padding-top: 50px;
    padding-bottom: 10%;

}

.global-partners img {
    max-width: 350px;
    height: auto;
    max-height: 200px;
    width: auto;
}

@media only screen and (max-width: 640px) {

    .global-partners img {
        max-width: 80%;
        height: auto;
    }
}


.flex-global {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
}

.intro-blog {
    font-family: Open Sans, "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 20px;
    margin: 10px 2%;
}

@media only screen and (max-width: 800px) {
    .protec-title {
        font-size: 50px;
        line-height: 60px;
    }

    .intro-blog {
        text-align: center;
    }
}


/*timeline start*/


.timeline {
    margin: 0;
    color: #B9CFD0;
    overflow: hidden;
    padding-bottom: 15px;
}

.timeline form {
    display: flex;
}

#scroller {
    max-width: 80%;
    margin: 0 auto;
}

#scroller::-webkit-scrollbar {
    width: 12px;
    height: 10px;

}

/* Track */
#scroller::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    -webkit-border-radius: 10px;
    border-radius: 10px;
}

/* Handle */
#scroller::-webkit-scrollbar-thumb {
    -webkit-border-radius: 10px;
    border-radius: 10px;
    background: rgba(90, 90, 150, 0.8);
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.5);
}


.timeline a {
    color: #B9CFD0;
    text-decoration: none;
    border-bottom: 1px solid #B9CFD0;
}

.timeline h1, h2, h3, h4, h5, h6 {
    font-family: Open Sans, "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.main-content {
    margin: 0 auto;
    position: relative;
}

.main-content .section-inner, .main-content .post-wrapper {
    *zoom: 1;
}

.main-content .section-inner:before, .main-content .section-inner:after, .main-content .post-wrapper:before, .main-content .post-wrapper:after {
    content: "";
    display: table;
}

.main-content .section-inner:after, .main-content .post-wrapper:after {
    clear: both;
}

.section .section-inner {
    margin: 0 auto;
    width: 1024px;
}

@media only screen {
    .section .section-inner {
        width: auto;
        max-width: 1024px;
    }
}


.stem-wrapper {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 50%;
    z-index: auto;

}


.stem-wrapper.color-yellow .stem-background {
    background: #E9E566;
}

.stem-wrapper.color-green .stem-background {
    background: #35C189;
}

.stem-wrapper.color-white .stem-background {
    background: #FFF;
}

.stem-wrapper .stem, .stem-wrapper .stem-background {
    position: absolute;
    top: 0;
    left: -30px;
    width: 60px;
}

.stem-wrapper .stem {
    overflow: hidden;
    height: 100%;
}

.stem-wrapper .stem-background {
    background: #ecf6f9;
    height: 50%;

}

.stem-padding, .single-stem-icon {
    width: 60px;
    height: 60px;
    margin: 0 auto;
    background: transparent url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/22043/stem-mask.png) repeat-y top center;
}

.single-stem-icon.scroll-to-top {
    cursor: pointer;
    background-image: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/22043/scroll-to-top-icon.png);
}

.post-wrapper {
    *zoom: 1;
}


.post-wrapper:before, .post-wrapper:after {
    content: "";
    display: table;
}

.post-wrapper:after {
    clear: both;
}

.post-wrapper .post {
    position: relative;
    width: 432px;
    padding: 0 0 60px 0;
    clear: both;
    opacity: 1;
}

.post-wrapper .post.hidden .post-content {
    opacity: 0;
}

.post-wrapper .post:hover .post-content, .post-wrapper .post.active .post-content {
    opacity: 1;
}

.post-wrapper .post:hover .post-content .meta, .post-wrapper .post.active .post-content .meta {
    opacity: 1;
}

.post-wrapper .post:nth-child(even) {
    float: right;
}

.post-wrapper .post:nth-child(odd) {
    float: left;
}

.post-wrapper .post:nth-child(even) .stem-overlay {
    left: -110px;
}

.post-wrapper .post:nth-child(odd) .stem-overlay {
    right: -110px;
}

.post-wrapper .post.nSeventy-icon .stem-overlay .icon {
    background-image: url('/media/original_images/1970.png');
}

.post-wrapper .post.nFive-icon .stem-overlay .icon {
    background-image: url('/media/original_images/1995.png');
}

.post-wrapper .post.oThree-icon .stem-overlay .icon {
    background-image: url('/media/original_images/2003.png');
}

.post-wrapper .post.oFive-icon .stem-overlay .icon {
    background-image: url('/media/original_images/2005.png');
}

.post-wrapper .post.oSix-icon .stem-overlay .icon {
    background-image: url('/media/original_images/2006.png');
}

.post-wrapper .post.oSeven-icon .stem-overlay .icon {
    background-image: url('/media/original_images/2007.png');
}

.post-wrapper .post.oEight-icon .stem-overlay .icon {
    background-image: url('/media/original_images/2008.png');
}

.post-wrapper .post.ten-icon .stem-overlay .icon {
    background-image: url('/media/original_images/2010.png');
}

.post-wrapper .post.thirteen-icon .stem-overlay .icon {
    background-image: url('/media/original_images/2013.png');
}

.post-wrapper .post.top-icon .stem-overlay .icon {
    background-image: url('/media/original_images/newReturnToTop.png');
}

.post-wrapper .post.start-icon .stem-overlay .icon {
    background-image: url('/media/original_images/timelineStart.png');
}

.post-wrapper .post .stem-overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 60px;
}

.post-wrapper .post .stem-overlay .icon {
    background: transparent no-repeat center center;
    height: 60px;
    width: 60px;
    cursor: pointer;
}

.post-wrapper .post .stem-overlay .stem-mask {
    position: absolute;
    top: 60px;
    bottom: 0;
    left: 0;
    right: 0;
    background: transparent url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/22043/stem-mask.png) repeat-y top center;
}

.post-wrapper .post .post-content {
    opacity: .3;
}

.post-wrapper .post .post-content .meta {
    color: rgba(255, 255, 255, 0.3);
    margin: 0 0 15px 0;
    letter-spacing: 1px;
    opacity: 0;
}

.post-wrapper .post .post-content .post-title {
    font-size: 32px;
    line-height: 42px;
    margin: 0 0 15px 0;
}

@media only screen and (max-width: 1080px) {

    .post-wrapper {
        margin-left: 15px;
    }

    .main-content, .main-content .section-inner {
        max-width: none;
    }

    .stem-wrapper {
        left: 80px;
    }

    .stem-padding, .single-stem-icon {
        float: left;
        margin: 0 0 0 50px;
    }

    .post-wrapper .post, .post-wrapper .post:nth-child(even), .post-wrapper .post:nth-child(odd) {
        width: auto;
        margin-left: 110px;
        float: none;
    }

    .post-wrapper .post .stem-overlay, .post-wrapper .post:nth-child(even) .stem-overlay, .post-wrapper .post:nth-child(odd) .stem-overlay {
        left: -75px;
        right: auto;
    }

    .post-wrapper .post .post-content {
        padding: 0 50px;
    }
}

.mobile {
    display: none;
}

@media only screen and (max-width: 700px) {


    /*new timeline for mobile*/
    .desktop {
        display: none !important;
    }

    .mobile {
        display: block;
    }

    .post-content {
        text-align: center;
        height: 100vh;
    }


    .timeline-desc {
        padding-top: 55vh;
    }

    .mobile h2 {
        margin: 15px 0 25px;
    }


    .mobile p {
        padding-bottom: 30%;
    }


    /* VVV Everything you need VVV */
    #scroll-down-animation {
        position: fixed;
        bottom: 5%;
        z-index: 50;
    }

    #scroll-down-animation h2 {
        color: #fff;
        font-family: 'Roboto', 'Arial', sans-serif;
        font-weight: 200;
        font-size: 16px;
    }

    .mouse {
        margin: 0 auto;
        display: block;
        border-radius: 50px;
        border: 2px solid #fff;
        height: 30px;
        width: 15px;
        position: relative;
    }

    .move {
        position: absolute;
        background-color: #fff;
        height: 6px;
        width: 6px;
        border-radius: 50%;
        left: 50%;
        transform: translateX(-50%);
        animation: move 2s linear infinite;
    }

    @keyframes move {
        0% {
            transform: translate(-50%, 16px);
            opacity: 0;
        }
        50% {
            transform: translate(-50%, 8px);
            opacity: 1;
        }
        100% {
            transform: translate(-50%, 2px);
            opacity: 0;
        }
    }
    /*end scroll down*/
    /*end new timeline*/
    /*.header .page-title {
        font-size: 40px;
    }

    .post-wrapper .post {
        margin-left: 90px !important;
    }

    .post-wrapper .post .post-content {
        padding: 0 25px;
    }

    .stem-wrapper {
        left: 60px;
    }

    .stem-padding, .single-stem-icon {
        margin-left: 15px;
    }*/


}

@media only screen and (max-width: 425px) {


    /*.post-wrapper .post .post-content .post-title {
        font-size: 25px;
    }*/


}

.clearfix {
    *zoom: 1;
}

.clearfix:before, .clearfix:after {
    content: "";
    display: table;
}

.clearfix:after {
    clear: both;
}

/*clients*/
.about-page .gallery img {
    margin-top: 10px;
    padding: 10px;
}

.gallery img:hover {
    transform: scale(1.2);
}

.gallery .container {
    align-items: center;
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
    padding: 10px;

}

.pastClients {
    padding-top: 25px;
    margin-left: 2%;
}

.pastClients p {

    padding-left: 5px;
}

.pastClients .pastBox {
    margin-top: 15px;
}

.pastClients .gallery {
    padding-top: 40px;
}


.item {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: flex-start;
    width: 100%;
}

.item > div {
    width: 50%;
}

.brand-image {
    width: 25vw;
}


.brand-desc {
    justify-content: flex-start;
}

.brand-image img {
    max-height: 200px;
    height: auto;
    width: auto;
    max-width: 250px;
}

@media only screen and (max-width: 640px) {

    .item {
        flex-direction: column;
    }

    .item > div {
        width: 100%;
    }
}


/*slider .css */
*, *:before, *:after {
    box-sizing: border-box;
}

html, body {
    height: 100%;
}

body {
    font-size: 1rem;
    line-height: 1.5;
}

.slider {
    height: 50vh;
    position: relative;
    overflow: hidden;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-flow: row nowrap;
    -ms-flex-flow: row nowrap;
    flex-flow: row nowrap;
    -webkit-box-align: end;
    -webkit-align-items: flex-end;
    -ms-flex-align: end;
    align-items: flex-end;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;

}

.slider form {
    z-index: 1;
}

.slider input {
    width: 12px;
    height: 12px;
    margin: 2rem 12px;
    border-radius: 50%;
    z-index: 10;
    outline: 6px solid #ccc;
    outline-offset: -6px;
    box-shadow: 0 0 0 0 #333, 0 0 0 0 rgba(51, 51, 51, 0);
    cursor: pointer;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}


.slider form input:checked {
    -webkit-animation: check 0.4s linear forwards;
    animation: check 0.4s linear forwards;
}


/*.timeline form input {
    position: absolute;
    opacity: 0;
    width: 0;
    height: 0;
}

!* IMAGE STYLES *!
.timeline form input + p {
    cursor: pointer;
    margin-right: 25px;
}

!* CHECKED STYLES *!
.timeline form input:checked + p {
    border: 2px solid #000;
    padding: 5px;
    border-radius: 50%;
    !* transform: scale(1.2);*!

}*/

/*
.radio-button__control{
    position: absolute;
    display: inline;
    width: 20px;
    height: 20px;
    background-color: inherit;
    color: #017b5f;
    border: 2px solid #666;
    border-radius: 24px;
}*/


/*8 sliders so need this */


/*this needs added to */
/*800% because 8 sliders*/
.slider__inner {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    -webkit-transition: left 0.8s;
    transition: left 0.8s;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-flow: row nowrap;
    -ms-flex-flow: row nowrap;
    flex-flow: row nowrap;
}

.slider__contents {
    height: 100%;
    padding: 2rem;
    text-align: center;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
    -webkit-flex-flow: column nowrap;
    -ms-flex-flow: column nowrap;
    flex-flow: column nowrap;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
}

.slider__image {
    font-size: 2.7rem;
    color: #2196F3;
}

.slider img {
    max-height: 50px;
    width: auto;
    max-width: 250px;
    height: auto;
}

.slider__caption {
    font-weight: 500;
    margin: 2rem 0 1rem;
    text-shadow: none;
    text-transform: uppercase;
}

.timeline .slider__caption {

}

.slider__txt {
    color: #999;
    margin-bottom: 3rem;
    max-width: 300px;
}

@-webkit-keyframes check {
    50% {
        outline-color: #333;
        box-shadow: 0 0 0 12px #333, 0 0 0 36px rgba(51, 51, 51, 0.2);
    }
    100% {
        outline-color: #333;
        box-shadow: 0 0 0 0 #333, 0 0 0 0 rgba(51, 51, 51, 0);
    }
}

@keyframes check {
    50% {
        outline-color: #333;
        box-shadow: 0 0 0 12px #333, 0 0 0 36px rgba(51, 51, 51, 0.2);
    }
    100% {
        outline-color: #333;
        box-shadow: 0 0 0 0 #333, 0 0 0 0 rgba(51, 51, 51, 0);
    }
}

/* blog .css */
@import url("https://fonts.googleapis.com/css?family=Mukta:700");
.blogIndexImg {
    width: 100%;
    padding: 10px 10px 0 10px;
}


.zoom:hover {
    text-decoration: none;
    color: #000000;
    transform: scale(1.1);
    cursor: pointer;
}

.zoom {
    text-decoration: none;
    color: #000000;
    transition: transform .2s; /* Animation */

}

#paginatorTop {
    display: inline-block;
    margin-top: 10px;
}

#blog-page h1 {
    display: inline-block;
}


/* ellipsis for multiline */
.w3-container .rich-text p {
    overflow: hidden;
    position: relative;
    line-height: 1.2em;
    max-height: 2.4em;
    text-align: justify;
    margin-right: -1em;
    padding-right: 1em;
}

.w3-container .rich-text p:before {
    content: "...";
    position: absolute;
    right: 0;
    bottom: 0;
}

.w3-container .rich-text p:after {
    content: "";
    position: absolute;
    right: 0;
    width: 1em;
    height: 1em;
    margin-top: 0.2em;
    background: white;
}

.w3-container .rich-text p {
    text-transform: none;
}


/*spinner css code*/
.lds-roller {
    display: inline-block;
    position: relative;
    width: 64px;
    height: 64px;
    margin-bottom: 10px;
    float: right;
}

.lds-roller div {
    animation: lds-roller 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
    transform-origin: 32px 32px;
}

.lds-roller div:after {
    content: " ";
    display: block;
    position: absolute;
    width: 6px;
    height: 6px;
    border-radius: 50%;
    background: #000;
    margin: -3px 0 0 -3px;
}

.lds-roller div:nth-child(1) {
    animation-delay: -0.036s;
}

.lds-roller div:nth-child(1):after {
    top: 50px;
    left: 50px;
}

.lds-roller div:nth-child(2) {
    animation-delay: -0.072s;
}

.lds-roller div:nth-child(2):after {
    top: 54px;
    left: 45px;
}

.lds-roller div:nth-child(3) {
    animation-delay: -0.108s;
}

.lds-roller div:nth-child(3):after {
    top: 57px;
    left: 39px;
}

.lds-roller div:nth-child(4) {
    animation-delay: -0.144s;
}

.lds-roller div:nth-child(4):after {
    top: 58px;
    left: 32px;
}

.lds-roller div:nth-child(5) {
    animation-delay: -0.18s;
}

.lds-roller div:nth-child(5):after {
    top: 57px;
    left: 25px;
}

.lds-roller div:nth-child(6) {
    animation-delay: -0.216s;
}

.lds-roller div:nth-child(6):after {
    top: 54px;
    left: 19px;
}

.lds-roller div:nth-child(7) {
    animation-delay: -0.252s;
}

.lds-roller div:nth-child(7):after {
    top: 50px;
    left: 14px;
}

.lds-roller div:nth-child(8) {
    animation-delay: -0.288s;
}

.lds-roller div:nth-child(8):after {
    top: 45px;
    left: 10px;
}

@keyframes lds-roller {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

/* carousel start*/
.carousel-inner img {
    width: auto;
    height: auto;
    max-height: 750px;
}

.blog .rich-text p {
    text-transform: none;
}

.carousel-collection {
    padding-top: 20px;
    padding-bottom: 20px;
}

.gallery .item {
    padding: 5px;
}

.gallery img {
    margin-top: 10px;
}

.gallery img:hover {
    transform: scale(1.2);
}

.gallery .container {
    align-items: center;
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
    padding: 10px;

}

.imageCounter {
    position: absolute;
    font-size: 0.7em;
    opacity: 0.75;
    background: #000000;
    color: #ffffff;
    padding-right: 5px;
    display: inline-block;
    border-radius: 5px;
    right: 15px;
    bottom: 15px;
    clear: both;
    line-height: 16px;
    text-align: center;
}

.imageCounter > img {
    max-height: 30px;
    width: auto;
    height: auto;
    vertical-align: middle;
}

.gallery li {
    list-style-type: none;
}

@media (min-width: 800px) {
    .blog .carousel-inner {
        position: relative;
        width: 50%;
        overflow: hidden;
        margin-left: 25%;
    }
}

/* carousel ending*/

.rich-text {
    margin: 0 2%;
}

#disqus_thread {
    margin: 0 2%;
}

#blog-page .arrow-sets {
    margin-left: 25%;
}

@media (max-width: 800px) {
    #blog-page .arrow-sets {
        width: 100%;
        margin-left: 0;
    }
}


/* image gallery .css */

* {
    box-sizing: border-box;
}

.container-snap {
    width: 50%;
    overflow-x: scroll;
    scroll-snap-type: x mandatory;
    color: white;
    display: flex;
    align-items: center;
}


.container-snap-y {
    width: 100vw;
    height: 100vh;
    overflow-y: scroll;
    scroll-snap-type: y mandatory;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.image-gallery {
    height: 125px;
}

.about-companies {
    height: 400px;
}

.half-margin {
    width: 50%;
    margin-left: 50%;
}

@media only screen and (max-width: 1024px) and (min-width: 700px) {
    .half-margin {
        width: 75%;
        margin-left: 25%;
    }
}

.full {
    width: 50%;
    margin: 0 auto;
    color: black;
}

.scroll-snap-start {
    scroll-snap-align: start;
}

.child-snap {
    margin-left: 5px;
    scroll-snap-align: start;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}


.child-snap img:hover {
    cursor: zoom-in;
}

.height-depend {
    height: 100%;
    width: auto;
}

.width-depend {
    height: auto;
    width: 100%;
}


#gallery::-webkit-scrollbar {
    width: 12px;
    height: 10px;

}

/* Track */
#gallery::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    -webkit-border-radius: 10px;
    border-radius: 10px;
}

/* Handle */
#gallery::-webkit-scrollbar-thumb {
    -webkit-border-radius: 10px;
    border-radius: 10px;
    background: rgba(90, 90, 150, 0.8);
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.5);
}


@media only screen and (max-width: 700px) {
    .container-snap {
        max-width:75%;
        margin: 0 auto;
    }

    .full {
        width: 90%;
        color: black;
    }
}









