body {
    text-transform: none;
}

ul {
    list-style-type: none;
}

.all-blocks {
    margin: 0 auto;
    padding: 53px 20px;
    max-width: 1200px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
    align-content: flex-start;
}

.document .w3-container {
    font-size: 20px;
    padding-top: 5px;
    padding-bottom: 10px;
}

.document .w3-card-4 {
    min-width: 200px;
    text-align: center;
    border-radius: 15px;
    min-height: 250px;
    position: relative;
    display: block;

}

.document img {
    margin-top: 15px;
}

.download .btn-txt {
    display: inline;
}

.document .w3-margin {
    margin: 40px !important;
}

.download {

}

.download {
    bottom: 0;
    text-decoration: none;
}


#intro {
    padding-top: 10%;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    color: white;
    vertical-align: center;
    font-size: 2.5vw;
}

#caption {
    max-width: 300px;
    margin-left: 10px;
    margin-right: 10px;
    padding-top: 10px;
    padding-bottom: 20px;
}

.top_image {
    position: relative;
    background-size: cover;
    background-image: url(/media/images/workstation.jpg);
    background-attachment: fixed;
    background-position: center;
    height: 75vh;
    width: 100vw;
    margin-left: -15px;

    margin-top: 15px;
}

.document hr{
    width: 20%;
    margin: 0 auto;
    border: 1px solid green;
}


@media only screen and  (max-width: 800px) {
    .document .w3-card-4 {
        width: 75%;
        min-height: 150px;
    }

    .download .btn-txt {
        display: none;

    }

    .download {
        margin-top: 50px;

    }
}


