html {
    scroll-behavior: smooth;
}

/* Set the size of the div element that contains the map */
#map {
    height: 700px; /* The height is 400 pixels */
    margin: 0 auto;
    max-width: 1200px;
}

#extra {
    text-align: center;
    color: white;
    font-size: 15px;
}


.top_header {
    position: relative;
    background-size: cover;
    background-image: url('/media/images/contactHeader.jpg');
    background-position: center;
    height: 60vh;
    width: 100vw;
    margin-top: 15px;
}

#mapHeading, #locations {
    padding-top: 50px;
    padding-bottom: 50px;
    text-align: center;
}

.quickLinks h3 {
    padding-top: 50px;
    padding-bottom: 50px;
    text-align: center;
}

.quickLinks .w3-container {
    font-size: 60px;
}

.mapBox {
    padding-bottom: 100px;
}

.button_place{
    text-transform: uppercase;
}

.button_place img{
    margin: 0;
}
.button_place img:hover{
    transform: scale(1.1);
}