/*
 * Globals
 */


/* Custom default button */
.btn-secondary,
.btn-secondary:hover,
.btn-secondary:focus {
    color: #333;
    text-shadow: none; /* Prevent inheritance from `body` */
    background-color: #fff;
    border: .05rem solid #fff;
}


/*
 * Base structure
 */

#fixedpoint {
    font-size: 1px;
    float: left;
    top: 0;
    position: fixed;
    padding: 0;
    margin: 0;
    height: 2px;
    width: 1px;
}

h2 a {
    color: #343434;
    font-size: 1em;
    text-decoration: none;
    display: inline-block;
    margin: 0;
}

/* effect-shine */
a.effect-shine:hover {
    -webkit-mask-image: linear-gradient(-75deg, #0d92c3 30%, #ff00ea 50%, #6c757d 70%);
    -webkit-mask-size: 200%;
    animation: shine 100s infinite;
    color: #343434;
}

@-webkit-keyframes shine {
    from {
        -webkit-mask-position: 150%;
    }

    to {
        -webkit-mask-position: -50%;
    }
}


html,
body {
    height: 100%;
    background: #ecf6f9;
}

body {
    display: -ms-flexbox;
    display: -webkit-box;
    display: flex;
    -ms-flex-pack: center;
    -webkit-box-pack: center;
    justify-content: center;
    color: #fff;
    text-shadow: 0 .05rem .1rem rgba(0, 0, 0, .5);
}


/*
 * Header
 */

.header {
    padding: 15px;
}

.masthead {
    margin-bottom: 2rem;
}

.masthead-brand {
    margin-bottom: 0;
}

.nav-masthead .nav-link {
    padding: .25rem 0;
    font-weight: 700;
    color: rgba(255, 20, 1, 0.5);
    background-color: transparent;
    border-bottom: .25rem solid transparent;
}

.nav-masthead .nav-link:hover,
.nav-masthead .nav-link:focus {
    border-bottom-color: rgba(255, 255, 255, .25);
}

.nav-masthead .nav-link + .nav-link {
    margin-left: 1rem;
}

.nav-masthead .active {
    color: #fff;
    border-bottom-color: #fff;
}


@media (min-width: 775px) {
    .masthead-brand {
        float: left;
    }

    .nav-masthead {
        float: right;
    }
}


/*
 * Cover
 */
.cover {
    padding: 0 .5rem;
}

.cover .btn-lg {
    padding: .75rem 1.25rem;
    font-weight: 700;
}


.block {
    margin: 15px;
    padding-top: 50px;
}


/*
 * Footer
 */
.mastfoot {
    color: rgba(255, 255, 255, .5);
}

footer {
    bottom: 0;
    box-sizing: border-box;
    background-color: #093145;
    width: 100%;
    margin: 0 auto;
    text-align: left;
    padding: 55px 50px;
    position: relative;
    clear: both;

}

footer p {
    color: #f7f2f2;
}


.copyright {
    color: #4d5258;
}

#mapIcon {
    float: left;
}

#legal {
    display: inline-block;
}


#phoneIcon {
    float: left;
}

#mailIcon {
    float: left;
}

#backToTop {
    float: right;
}

* {
    box-sizing: border-box;
}

/* Create three unequal columns that floats next to each other */
footer .column {
    float: left;
    padding: 10px;
    height: 200px;
}

.left, .right {
    width: 25%;
    text-align: center;
}

.middle {
    width: 50%;
    text-align: center;
}

/* Clear floats after the columns */
footer .row:after {
    content: "";
    display: table;
    clear: both;
}

#phoneIcon a {
    display: block;
}

#smallLogo {
    padding: 10px;
    z-index: 1;
    margin-right: 50px;
    display: block;
}

#largeLogo {
    display: none;
}

@media (max-width: 640px) {

    .block {
        margin: 0 15px 15px 15px;
        padding: 18% 0 0 0;
    }

    footer .column {
        padding: 10px;
        float: none;
        display: inline;
        text-align: center;
        font-size: 13px;
    }

    .footerLinks {
        float: none;
    }

    #mapIcon {
        float: none;
    }

    #phoneIcon {
        float: none;
    }

    #phoneLink a {
        display: block;
    }

    #mailIcon {
        float: none;
    }

    .mastfoot {
        padding: 20px;
    }

    .footer-contents {
        text-align: center;
    }

    #smallLogo {
        float: right;
        padding: 10px;
        z-index: 1;
        height: 50px;
        width: 40px;
        margin-right: 50px;
        display: none;
    }

    #largeLogo {
        height: auto;
        width: 50%;
        display: block;
        align-items: center;
        max-width: initial;
        max-height: 75px;
    }

    .header {
        opacity: 0.9;
        position: fixed;
        background: #ecf6f9;
    }
}

@media (max-width: 410px) {

    .block {
        margin: 0 15px 15px 15px;
        padding: 22% 0 0 0;
    }
}






