/* Globals */
/* Custom default button */
.btn-secondary,
.btn-secondary:hover,
.btn-secondary:focus{color:#333;text-shadow:none;background-color:#fff;border:.05rem solid #fff;}
 /* Base structure */
#fixedpoint{font-size:1px;float:left;top:0;position:fixed;padding:0;margin:0;height:2px;width:1px;}
/*work on this for effect shine for blog page*/
h2 a{color:#343434;font-size:20px;text-decoration:none;display:inline-block;margin:0;}
a.effect-shine:hover{-webkit-mask-image:linear-gradient(-75deg, #0d92c3 30%, #ff00ea 50%, #6c757d 70%);-webkit-mask-size:200%;animation:shine 1s infinite;color:#343434;}
@-webkit-keyframes shine{from{-webkit-mask-position:150%;}
to{-webkit-mask-position:-50%;}
}
html{}
html,
body{height:100%;background:#ecf6f9;}
body{display:-ms-flexbox;display:-webkit-box;display:flex;-ms-flex-pack:center;-webkit-box-pack:center;justify-content:center;color:#fff;text-shadow:none;}
/* Header */
.top{position:relative;z-index:1000;}
.header{padding:15px;position:relative;}
.masthead{margin-bottom:2rem;}
.masthead-brand{margin-bottom:0;}
.nav-masthead .nav-link{padding:.25rem 0;font-weight:700;color:rgba(255, 20, 1, 0.5);background-color:transparent;border-bottom:.25rem solid transparent;}
.nav-masthead .nav-link:hover,
.nav-masthead .nav-link:focus{border-bottom-color:rgba(255, 255, 255, .25);}
.nav-masthead .nav-link + .nav-link{margin-left:1rem;}
.nav-masthead .active{color:#fff;border-bottom-color:#fff;}
@media only screen and (min-width:775px){.masthead-brand{float:left;}
.nav-masthead{float:right;}
}
/* Cover */
.cover{padding:0 .5rem;}
.cover .btn-lg{padding:.75rem 1.25rem;font-weight:700;}
.block{margin-top:15px;padding-top:50px;z-index:auto;overflow-x:hidden;}
/* Footer */
.mastfoot{color:rgba(255, 255, 255, .5);}
footer{font-family:"Varela Round", Nunito, Montserrat, sans-serif;bottom:0;box-sizing:border-box;background-color:#093145;width:100%;margin:0 auto;text-align:left;padding:45px 50px 75px;position:relative;clear:both;box-shadow:inset 0 0 20px 20px rgba(0, 0, 0, 0.2);}
footer p{color:#f7f2f2;}
.copyright{color:#4d5258;}
#mapIcon{float:left;}
#legal{display:inline-block;}
#phoneIcon{float:left;}
#mailIcon{color:white;float:left;}
#backToTop{float:right;margin-right:2%;}
*{box-sizing:border-box;}
/*Lets chat*/
.contact-banner{display:block;border-right:4px solid #655728;border-left:4px solid #655728;background:#214557;text-align:center;-o-box-shadow:0 9px 20px rgba(0, 0, 0, .2);box-shadow:0 9px 20px rgba(0, 0, 0, .2);}
.attention{text-align:center;margin:0 5px;text-shadow:none;background-color:#214557;padding:15px;cursor:pointer;box-shadow:0 50px 50px rgba(0,0,0,.2);transition:all 2s ease-out;}
.attention:hover{background-color:#283665;transition:1s;}
.contact-banner:hover #first-line, #second-line{color:#fff;}
.icon-background2{color:black;}
.fa-arrow-right{color:pink;}
.attention i{font-size:35px;}
.contact-banner:hover i{transform:translateX(100%);transition:.5s;}
.contact-banner i{transition:1s ease-in;}
#first-line{color:#7b8081;font-size:25px;line-height:2.25rem;text-transform:uppercase;transition:color .4s ease;margin-bottom:11px;}
#second-line{display:inline-block;color:#fff;font-size:55px;letter-spacing:9px;text-transform:uppercase;line-height:58px;margin-right:10px;}
#first-line{font-family:'Teko', sans-serif;}
#second-line{font-family:'Teko', sans-serif;}
@media only screen and (max-width:640px){.contact-banner{display:none;}
}
/*end lets chat*/
/* Create three unequal columns that floats next to each other */
footer .column{float:left;padding:10px;}
.left, .right{width:25%;text-align:center;}
.middle{width:50%;text-align:center;}
.middle .bodymovi g{fill:#fff;stroke:#fff;}
@media only screen and (max-width:1000px){.middle{font-size:0.8rem;}
}
/* Clear floats after the columns */
footer .row:after{content:"";display:table;clear:both;}
#phoneIcon a{display:block;}
#smallLogo{padding:10px;z-index:1;display:block;width:20%;height:auto;}
#largeLogo{display:none;}
@media only screen and (max-width:640px){.block{margin:0 0 15px 0;padding:18% 0 0 0;}
footer .column{padding:10px;float:none;display:inline;text-align:center;font-size:13px;}
.footerLinks{float:none;}
#mapIcon{float:none;}
#phoneIcon{float:none;}
#phoneLink a{display:block;}
#mailIcon{float:none;}
.mastfoot{padding:20px;}
.footer-contents{text-align:center;}
#smallLogo{float:right;padding:10px;z-index:1;height:50px;width:40px;margin-right:50px;display:none;}
#largeLogo{height:auto;width:50%;display:block;align-items:center;max-width:initial;max-height:75px;}
.header{opacity:0.9;position:fixed;background:#ecf6f9;z-index:10;}
}
@media only screen and (max-width:410px){.block{margin:0 0 15px 0;padding:22% 0 0 0;}
}
#footer-contacts{display:inline;}
@media only screen and (max-width:640px){.footer-contents .middle{margin-top:30px;}
}
.contact-section{display:flex;flex-direction:row;flex-wrap:nowrap;justify-content:space-around;align-items:center;align-content:center;}
.contact-section{color:white;}
.legallinks{display:flex;flex-direction:row;flex-wrap:nowrap;justify-content:space-evenly;align-items:baseline;align-content:center;}
.circle-border svg{border:2px solid white;border-radius:50%;}
.hover10 figure img{-webkit-filter:grayscale(0) blur(0);filter:grayscale(0) blur(0);-webkit-transition:0.3s ease-in-out;transition:0.3s ease-in-out;}
.hover10 figure:hover img{-webkit-filter:grayscale(100%) blur(3px);filter:grayscale(100%) blur(3px);}
#social, #socialF{display:inline-block;margin:5px;}
.footer-socials{
    max-height: 40px;
    max-width:40px;
}
h1 a{color:#fff;font-size:15px;text-decoration:none;display:inline-block;margin:0;}
a.effect-shine:hover{-webkit-mask-image:linear-gradient(-75deg, rgba(0, 0, 0, .6) 30%, #000 50%, rgba(0, 0, 0, .6) 70%);-webkit-mask-size:200%;animation:shine 2s infinite;color:#fff;}
@-webkit-keyframes shine{from{-webkit-mask-position:150%;}
to{-webkit-mask-position:-50%;}
}




