.overview {
    width: 100%;
    border-collapse: collapse;
    padding: 5px;
}

.overview td {
    padding: 5px;
}

.homeInfo1 {
    width: 80%;
    margin-left: 10%;
    margin-right: 10%;
    padding: 50px;

}

.homeInfo2 {
    padding: 20px;
    height: auto;
    text-align: center;
    float: left;
}


.homeIm1 {
    height: auto;
    float: right;
}

.homeInfo3 {
    padding: 20px;
    height: auto;
    text-align: center;
    float: right;
}

.homeIm2 {
    height: auto;
    float: left;
}

.homeInfo4 {
    padding: 20px;
    height: auto;
    text-align: center;
    float: left;
}

.homeIm3 {
    height: auto;
    float: right;
}

.homeInfo5 {
    padding: 20px;
    height: 300px;
    text-align: center;
    float: right;
}

.homeIm4 {
    height: auto;
    float: left;
}


@media screen and (max-width: 639.98px) {
    .homeInfo1 {
        width: 100%;
    }

    .homeInfo2 {
        width: 100%;
        padding: 20px;
        text-align: center;
        float: left;
    }


    .homeIm1 {
        width: 100%;
        padding: 20px;
        float: left;
    }

    .homeInfo3 {
        width: 100%;
        padding: 20px;
        height: 300px;
        text-align: center;
        float: right;
    }

    .homeInfo4 {
        width: 100%;
        padding: 20px;
        height: 300px;
        text-align: center;
        float: left;
    }

    .homeInfo5 {
        width: 100%;
        padding: 20px;
        height: 300px;
        text-align: center;
        float: right;
    }
}