.human-rights {
    padding: 5%;
}

.human-rights ul {
    margin-left: 5%;
}

.human-rights ol li {
    padding-top: 25px;
}


.human-rights ul {
    max-width: 800px;
    list-style: inherit;
}



.human-rights h2 {
    margin: 0 0 20px;
}

.human-rights h4{
    padding-top: 2%;
}

#legalHeading h1 {
    padding: 0 0 50px;
    text-align: center;
    font-size: 4rem;
}

@media only screen and (max-width: 640px) {

    .human-rights {
        padding: 15px;
    }

    .human-rights h1 {
        font-size: 2rem;
    }

    #legalHeading h1 {
        font-size: 3rem;
    }

}

.certificates {
    padding: 10%;
}

#section11 li {
    list-style: none;
}

.section8, .section6 {
    list-style: none;
}

.legal-each{
    padding:50px 0 50px 0;
}

.legal-title{
    font-weight: bold;
}

.legal-each h3{
    padding-top: 2%;
}

.legal-each .rich-text{
    padding-bottom: 15px;
}