.human-rights{
    padding: 10%;
}

.human-rights ul{
    margin-left: 5%;
}

.human-rights h4{
    padding-top: 2%;
}

.human-rights ul{
    max-width: 800px;
    list-style: inherit;
}

.human-rights h1{
    margin: -100px 30% 100px;
    font-size: 400%;
}

.certificates{
    padding: 10%;
}

#section11 li{
    list-style: none;
}
.section8, .section6{
    list-style: none;
}