
.bodymovinanim {
    display: block;
    margin: auto;
  cursor: pointer;
}

.bodymovinanim svg{
    max-width:40px
}


.bodymovinani {
    padding: 30px;
    display: block;
    margin: auto;
  cursor: pointer;
}

.bodymovinani svg{
    max-width:40px
}

.bodymovinan {
    padding: 30px;
    display: block;
    margin: auto;
  cursor: pointer;
}

.bodymovinan svg{
    max-width:40px
}

.bodymovi {
    padding: 30px;
    display: block;
    margin: auto;
  cursor: pointer;
}

.bodymovi svg{
    max-width:40px
}