.product_head{width:100vw;background-color:#fffce8;margin-left:0;}
.css-typing{margin:50px 0 50px 20px;align-content:center;justify-content:center;}
.css-typing p{border-right:.15em solid orange;font-size:24px;white-space:nowrap;overflow:hidden;}
@media only screen and (min-width:700px) and (max-width:1000px){.css-typing p{font-size:14px;}
}
@media only screen and (max-width:700px){.css-typing p{font-size:8px;}
}
.css-typing p:nth-child(1){width:25vw;-webkit-animation:type 2s steps(40, end);animation:type 2s steps(40, end);-webkit-animation-fill-mode:forwards;animation-fill-mode:forwards;}
.css-typing p:nth-child(2){width:25vw;opacity:0;-webkit-animation:type2 2s steps(40, end);animation:type2 2s steps(40, end);-webkit-animation-delay:2s;animation-delay:2s;-webkit-animation-fill-mode:forwards;animation-fill-mode:forwards;}
.css-typing p:nth-child(3){width:25vw;opacity:0;-webkit-animation:type3 3s steps(30, end), blink .55s step-end infinite alternate;animation:type3 3s steps(30, end), blink .55s step-end infinite alternate;-webkit-animation-delay:4s;animation-delay:4s;-webkit-animation-fill-mode:forwards;animation-fill-mode:forwards;}
@media only screen and (min-width:1000px) and (max-width:1600px){.css-typing p:nth-child(1){width:35vw;}
}
@media only screen and (min-width:700px) and (max-width:1000px){.css-typing p:nth-child(1){width:30vw;}
}
@keyframes type{0%{width:0;}
99.9%{border-right:.15em solid orange;}
100%{border:none;}
}
@-webkit-keyframes type{0%{width:0;}
99.9%{border-right:.15em solid orange;}
100%{border:none;}
}
@keyframes type2{0%{width:0;}
1%{opacity:1;}
99.9%{border-right:.15em solid orange;}
100%{opacity:1;border:none;}
}
@-webkit-keyframes type2{0%{width:0;}
1%{opacity:1;}
99.9%{border-right:.15em solid orange;}
100%{opacity:1;border:none;}
}
@keyframes type3{0%{width:0;}
1%{opacity:1;}
100%{opacity:1;}
}
@-webkit-keyframes type3{0%{width:0;}
1%{opacity:1;}
100%{opacity:1;}
}
@keyframes blink{50%{border-color:transparent;}
}
@-webkit-keyframes blink{50%{border-color:tranparent;}
}