
.content-block {
    font-family: sans-serif;
    vertical-align: top;
    padding-bottom: 10px;
    padding-top: 10px;
    font-size: 12px;
    color: #999999;
    text-align: center;
}

.apple-link {
    color: #999999;
    font-size: 12px;
    text-align: center;
}

.unsub {
    text-decoration: underline;
    color: #999999;
    font-size: 12px;
    text-align: center;
}

.email-list{
  width:100%;
  text-align: center;
  display: inline-block;

}

.email-list .btn-one{
  text-align: center;
  position: center;
}
