{% load static wagtailuserbar %}

<!DOCTYPE html>
<html class="no-js" lang="en">
<head>
    <meta charset="utf-8"/>
    <title>
        {% block title %}
            {% if self.seo_title %}{{ self.seo_title }}{% else %}{{ self.title }}{% endif %}
        {% endblock %}
        {% block title_suffix %}
            {% with self.get_site.site_name as site_name %}
                {% if site_name %}| {{ site_name }}{% endif %}
            {% endwith %}
        {% endblock %}
    </title>
    <meta name="description" content="{% block meta_descr %}{% endblock %}"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    {#    #responsive stuff to work bootstrap##}
    {# Fonts #}
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,500,600,700" rel="stylesheet">
    <script defer src="https://use.fontawesome.com/releases/v5.8.1/js/all.js"
            integrity="sha384-g5uSoOSBd7KkhAMlnQILrecXvzst9TdC09/VM+pjDTCM+1il8RHz5fKANTFFb+gQ"
            crossorigin="anonymous"></script>
    <script src="https://kit.fontawesome.com/0969a8bc39.js"></script>
    {# Owl CSS #}
    <link rel="stylesheet" type="text/css" href="{% static 'css/owl.min.css' %}">
    {#for the carousel#}
    {# Global stylesheets #}
    <link rel="stylesheet" href='/static/css/cover.css'>
    <link rel="stylesheet" href='/static/css/bootstrap.css'>
    <link rel="stylesheet" href='/static/css/NavMENU.css'>
    <link rel="stylesheet" href='/static/css/footer.css'>
    <link rel="stylesheet" href='/static/css/owl.min.css'>
    <link rel="stylesheet" href='/static/css/owl.theme.default.min.css'>
    <link rel="stylesheet" href='/static/css/owl.carousel.css'>
    <link rel="stylesheet" href='/static/css/hamburgerAnim.css'>
    <link rel="stylesheet" href='/static/css/panel.css'>
    <link rel="stylesheet" href='/static/css/buttons.css'>
    <link rel="stylesheet" href='/static/css/temp.css'>

    {#  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"#}
    {#  integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">#}
    {# <link rel="stylesheet" href='/static/css/NavMENU.css'> #}

    {# Global js #}


    {% block extra_css %}
        {# Override this in templates to add extra stylesheets #}

    {% endblock %}


</head>
<body class="{% block body_class %}{% endblock %}">

{% wagtailuserbar %}

<div class="{% block page-css-class %}{% endblock %}">
    <div class="centre-content">

        <div class="top">
            {# header #}
            <div class="header">

                <div class="col-45">
                    <a href="/" class="menuLogo logoT">
                        <img src="/media/images/fortress_sefa_small_60px.max-165x165.jpg" id="smallLogo" width="auto"
                             height="150px">
                    </a>

                    <p class="title">
                        FORTRESS SEFA<br/>
                    </p>
                    <p class="title2">
                        SECURITY ENVIRONMENT FIRE ARCHITECTURE
                    </p>
                </div>
                <div class="hamburger">
                    <label class="toggle cd-btn js-cd-panel-trigger" id="menuDisplay" data-panel="main">
                        <input type="checkbox" id="myCheck">
                        <div>
                            <div>
                                <span></span>
                                <span></span>
                            </div>
                            <svg>
                                <use xlink:href="#path">
                            </svg>
                            <svg>
                                <use xlink:href="#path">
                            </svg>
                        </div>
                    </label>


                    <svg xmlns="http://www.w3.org/2000/svg" style="display: none;">
                        <symbol xmlns="http://www.w3.org/2000/svg" viewBox="0 0 44 44" id="path">
                            <path d="M22,22 L2,22 C2,11 11,2 22,2 C33,2 42,11 42,22"></path>
                        </symbol>
                    </svg>

                </div>
                <a href="/" class="menuLogo">
                    <img src="/media/original_images/fortress_sefa_s8gdTFJ.jpg" id="largeLogo">
                </a>
            </div>

            <header class="masthead mb-auto" id="menuPanel">

                {# This the menu for the desktop panel. It is seperate to the mobile #}
                {% include 'temp_nav_menu.html' %}
                <div class="textytext">
                    The Fortress SEFA product range covers the following product groups: <br/>
                    <p class="texty">
                    Security Enhancement<br/>
                    Accredited with LPCB LPS1175 security range shutters & steel doors<br/>
                    Accredited with Secure By Design Steel Doors, Shutters & Glazing<br/>
                    Loading Bay equipment with complementary Shutter/Sectional door range <br/>
                    All images can be found on our website/email as stated above<br/>
                    </p>
                </div>
            </header>
            <p id="fixedpoint">
                46546487978
            </p>

            {# This the menu for the mobile panel. It is seperate to the desktop #}
            <div class="cd-panel cd-panel--from-left js-cd-panel-main mobilePanel">
                <header class="cd-panel__header">
                    <img src="/media/original_images/fortress_sefa_s8gdTFJ.jpg" id="panelImage">
                    <a href="#0" class="cd-panel__close js-cd-close">Close</a>
                </header>

                <div class="cd-panel__container">
                    <div class="cd-panel__content">
                        {% include 'temp_nav_menu.html' %}

                    </div> <!-- cd-panel__content -->

                </div> <!-- cd-panel__container -->

            </div> <!-- cd-panel -->
            {# /header #}


        </div>


        <div class="block">
            {% block content %}{% endblock %}


        </div>
    </div>
    {# footer #}
    <footer class="mastfoot mt-auto">
        <div class="footer-contents">
            <div class="column left">
                <img src="/media/original_images/maps.png" id="mapIcon" height="40px" width="40px">
                6 Trench Road
                <br>Newtownabbey, Northern Ireland
            </div>
            <div class="column middle">
                <p>
                    <a href="tel:+44 (0)28 9034 2655" id="phoneLink">
                        <img src="/media/original_images/phone.png" id="phoneIcon" height="40px" width="40px">
                    </a>
                    +44 (0)28 9034 2655
                </p>
            </div>
            <div class="column right">
                <a href="/contact-page" id="phoneLink">
                    <img src="/media/original_images/email.png" id="mailIcon" height="40px"
                         width="40px">
                </a>
                info@fortress-sefa.com

            </div>
            <div class="locations">
                Belfast ● Dublin ● Dundee ● Glasgow ● London ● Manchester ● Warsaw ● Stockholm ● Uppsala ● Gothenburg ● Malmo


            </div>
        </div>

    </footer>
    {# footer #}
</div>

{# Global javascript #}
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"
        integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script>window.jQuery || document.write('<script src="../../assets/js/vendor/jquery-slim.min.js"><\/script>')</script>
<script src="../../static/js/hamburgerAnim.js"></script>
<script src="../../static/js/homepage.js"></script>
<script src="../../static/js/base.js"></script>
{##<script type="text/javascript" src="{% static 'js/bootstrap.bundle.min.js' %}"></script>##}
<script src="../../static/js/owl.min.js"></script>
<script src="../../static/js/owl.carousel.js"></script>
<script src="../../static/js/slim.min.js"></script>
<script src="../../static/js/jquery-3.4.1.min.js"></script>
<script src="../../static/js/panel.js"></script>
<script src="../../static/js/disqus.js"></script>
<script src="../../static/js/popper.min.js"></script>
<script src="../../static/js/bootstrap.min.js"></script>
<script src="../../static/js/about.js"></script>
<script src="../../static/js/url_extract.js"></script>

{#<script type="text/javascript" src="{% static 'js/match-height.min.js' %}"></script>#}
{% block extra_js %}
    {# Override this in templates to add extra javascript #}

{% endblock %}


<script id="dsq-count-scr" src="//fortress-sefa.disqus.com/count.js" async></script>

</body>
</html>