{% load static wagtailuserbar %}

<!DOCTYPE html>
<html class="no-js" lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="theme-color" content="#4285f4"/>

    <link rel="icon" type="image/png" href="/media/original_images/fortress_sefa_ico.png"/>
    <title>
        {% block title %}
            {% if self.seo_title %}{{ self.seo_title }}{% else %}{{ self.title }}{% endif %}
        {% endblock %}
        {% block title_suffix %}
            {% with self.get_site.site_name as site_name %}
                {% if site_name %}| {{ site_name }}{% endif %}
            {% endwith %}
        {% endblock %}
    </title>
    <meta name="description" content="{% block meta_descr %}{% endblock %}"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    {#    #responsive stuff to work bootstrap##}
    {# Fonts #}


    <script src="https://kit.fontawesome.com/c730198b71.js" crossorigin="anonymous"></script>


    {#for the carousel#}
    {# Global stylesheets #}
    <link rel="stylesheet" href="{% static '/css/cover.css'%}" >
    <link rel="stylesheet" href="{% static '/css/bootstrap.css'%}" >
    <link rel="stylesheet" href="{% static '/css/NavMENU.css'%}" >
    <link rel="stylesheet" href="{% static '/css/hamburgerAnim.css'%}" >
    <link rel="stylesheet" href="{% static '/css/panel.css'%}" >
    <link rel="stylesheet" href="{% static '/css/buttons.css'%}" >
    <link rel="stylesheet" href="{% static '/css/architect.css'%}" >
    <link rel="stylesheet" href="{% static '/css/typed_text.css'%}" >
    <link rel="stylesheet" href="{% static '/css/slanted_div.css'%}" >
    <link rel="stylesheet" href="{% static '/css/products.css'%}" >
    <link rel="stylesheet" href="{% static '/css/protec.css'%}" >
    <link rel="stylesheet" href="{% static '/css/aos.css'%}" >
    <link rel="stylesheet" href="{% static '/css/legal.css'%}" >
    <link rel="stylesheet" href="{% static '/css/faq.css'%}" >
    <link rel="stylesheet" href="{% static '/css/custom-layouts.css'%}" >
    <link rel="stylesheet" href="{% static '/lottie/lotti_anims.css'%}" >

    <link rel="stylesheet" href="{% static '/css/backgrounds.css'%}" >
    <link href="https://fonts.googleapis.com/css2?family=BenchNine:wght@300&family=Pragati+Narrow&family=Teko:wght@300&family=Wire+One&display=swap"
          rel="stylesheet">


    {#  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"#}
    {#  integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">#}
    {# <link rel="stylesheet" href='/static/css/NavMENU.css'> #}

    {# Global js #}


    {% block extra_css %}
        {# Override this in templates to add extra stylesheets #}

    {% endblock %}


</head>
<body class="{% block body_class %}{% endblock %}">
{% wagtailuserbar %}

<div class="{% block page-css-class %}{% endblock %}">

    <div class="mian-block">
        <div class="centre-content">

            <div class="top">
                {# header #}
                <div class="header">

                    <a href="/" class="menuLogo">
                        <img src="/media/original_images/fortress_sefa_s8gdTFJ.jpg" id="smallLogo" alt="logo">
                    </a>


                    <div class="hamburger">
                        <label class="toggle cd-btn js-cd-panel-trigger" id="menuDisplay" data-panel="main">
                            <input type="checkbox" id="myCheck">
                            <div>
                                <div>
                                    <span></span>
                                    <span></span>
                                </div>
                                <svg>
                                    <use xlink:href="#path">
                                </svg>
                                <svg>
                                    <use xlink:href="#path">
                                </svg>
                            </div>
                        </label>


                        <svg xmlns="http://www.w3.org/2000/svg" style="display: none;">
                            <symbol xmlns="http://www.w3.org/2000/svg" viewBox="0 0 44 44" id="path">
                                <path d="M22,22 L2,22 C2,11 11,2 22,2 C33,2 42,11 42,22"></path>
                            </symbol>
                        </svg>

                    </div>
                    <a href="/" class="menuLogo">
                        <img src="/media/original_images/fortress_sefa_s8gdTFJ.jpg" id="largeLogo" alt="largeLogo">
                    </a>
                </div>

                <header class="masthead mb-auto" id="menuPanel">

                    {# This the menu for the desktop panel. It is seperate to the mobile #}
                    {% include 'nav_menu.html' %}
                </header>
                <p id="fixedpoint">
                    46546487978
                </p>

                {# This the menu for the mobile panel. It is seperate to the desktop #}
                <div class="cd-panel cd-panel--from-left js-cd-panel-main mobilePanel">
                    <header class="cd-panel__header">
                        <img src="/media/original_images/fortress_sefa_s8gdTFJ.jpg" id="panelImage">
                        <a href="#0" class="cd-panel__close js-cd-close">Close</a>
                    </header>

                    <div class="cd-panel__container">
                        <div class="cd-panel__content">
                            {% include 'nav_menu.html' %}

                        </div> <!-- cd-panel__content -->

                    </div> <!-- cd-panel__container -->

                </div> <!-- cd-panel -->
                {# /header #}


            </div>


            <div class="block">
                {% block content %}{% endblock %}


            </div>

        </div>
        {# footer #}
        <div class="contact-banner">
            <a href="/contact-page">
                <div class="attention">
                    <p id="first-line">GOT A PROJECT FOR US?</p>
                    <p id="second-line">LET'S CHAT

                        <i class="fa fa-arrow-circle-o-right"></i>


                    </p>
                </div>
            </a>
        </div>
    </div>
    <footer class="mastfoot mt-auto">
        <div class="footer-contents">
            <div class="column left legalsection">
                <div class="footerLinks legallinks">
                    <p>
                    <h1 id="legal"><a href="/privacy" class="effect-shine">Privacy</a></h1>
                    ·
                    <h1 id="legal"><a href="/legal" class="effect-shine" id="legal"> Legal</a></h1>
                    ·
                    <h1 id="legal"><a href="/cookies" class="effect-shine" id="legal"> Cookies</a></h1>
                </div>

                {% include 'copyright_code.html' %}


            </div>
            <div class="column middle">
                <div id="footer-contacts">

                    <div class="contactsection">
                        <a href="/contact-us#map"><img src="/media/original_images/maps.png" id="mapIcon"
                                                       height="40px" width="40px" alt="map Icon">

                        </a>

                        6 Trench Road

                        <br>Newtownabbey, Northern Ireland

                    </div>
                    <br><br>
                    <div class="contactsection">
                        <a href="tel:+44 (0)28 9034 2655" id="phoneLink">
                            <img src="/media/original_images/phone.png" alt="phone icon" id="phoneIcon" height="40px"
                                 width="40px">
                        </a>
                        +44 (0)28 9034 2655
                    </div>
                    <br><br>
                    <div class="contactsection">
                        <a class="bodymovi" href="/contact-page"></a>
                        tenders@fortress-sefa.com

                    </div>
                </div>
            </div>
            <div class="column right">
                <p class="copyright">Registered in Northern Ireland with Company No:NC000941 </p>
                <br>
                <div class="hover10">
                    <a href="https://www.linkedin.com/company/fortresssefa/" target="_blank" id="social" rel="noopener">
                        <figure id="social"><img src="/media/original_images/linkedIn.png" height="40px" width="40px"
                                                 alt="linkedIn">
                        </figure>
                    </a>
                    <a class="facebook" href="fb://page/?id=367639123362658	" target="_blank" id="social"
                       rel="noopener">
                        <figure id="social"><img src="/media/original_images/facebook.png" height="40px" width="40px"
                                                 alt="facebook">
                        </figure>
                    </a>
                    {% comment %}
                    fb://page/?id=367639123362658
                    fb://page/367639123362658
                    https://facebook.com/367639123362658
                    {% endcomment %}

                </div>
            </div>
            {% comment %}<a href="#" class="scrollup">
                <img src="/media/original_images/returnToTop.png" id="backToTop">


            </a>{% endcomment %}
            <a href="#" class="bodyarrowUpload scrollup circle-border" id="backToTop"></a>

        </div>

    </footer>
    {# footer #}
</div>

{# Global javascript #}
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"
        integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
{% comment %}
<script src="https://naver.github.io/egjs-flicking/release/latest/dist/flicking.pkgd.js"></script>{% endcomment %}
<script>window.jQuery || document.write('<script src="../../assets/js/vendor/jquery-slim.min.js"><\/script>')</script>

<script src="{% static '/lottie/lottie_svg.min.js'%}" ></script>
<script src="{% static '/lottie/lottie-anim-double-click.js'%}"></script>
<script src="{% static '/lottie/lottie-anim-loader.js'%}"></script>
<script src="{% static '/lottie/lottie-anim-single-click.js'%}"></script>
<script src="{% static '/lottie/lottie-anim-hover.js'%}"></script>

<script src="{%static '/js/hamburgerAnim.js'%}"></script>
<script src="{%static '/js/homepage.js'%}"></script>
<script src="{%static '/js/base.js'%}"></script>
{##<script type="text/javascript" src="{% static 'js/bootstrap.bundle.min.js' %}"></script>##}


<script src="{%static 'js/hamburgerAnim.js'%}"></script>

{% comment %}<script src="../../static/js/flicking.pkgd.js "></script>{% endcomment %}

<script src="{%static '/js/jquery-3.4.1.min.js'%}"></script>
<script src="{%static '/js/panel.js'%}"></script>
<script src="{%static '/js/popper.min.js'%}"></script>
<script src="{%static '/js/bootstrap.min.js'%}"></script>
<script src="{%static '/js/aos.js'%}"></script>
<script src="{%static '/js/products.js'%}"></script>
<script src="{%static '/js/css-snap-scroll.min.js'%}"></script>
<script src="{%static '/js/slider.js'%}"></script>
{% comment %}<script src="../../static/js/url_extract.js"></script>{% endcomment %}

<script>
    document.addEventListener("touchstart", function () {
    }, true);
</script>


{#<script type="text/javascript" src="{% static 'js/match-height.min.js' %}"></script>#}
{% block extra_js %}
    {# Override this in templates to add extra javascript #}

{% endblock %}


<script id="dsq-count-scr" src="//fortress-sefa.disqus.com/count.js" async></script>

</body>
</html>