{% load static wagtailuserbar %}

<!DOCTYPE html>
<html class="no-js" lang="en">
<head>
    <meta charset="utf-8"/>
    <title>
        {% block title %}
            {% if self.seo_title %}{{ self.seo_title }}{% else %}{{ self.title }}{% endif %}
        {% endblock %}
        {% block title_suffix %}
            {% with self.get_site.site_name as site_name %}
                {% if site_name %}| {{ site_name }}{% endif %}
            {% endwith %}
        {% endblock %}
    </title>
    <meta name="description" content=""/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    {#    #responsive stuff to work bootstrap##}
    {# Fonts #}
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,500,600,700" rel="stylesheet">
    <script defer src="https://use.fontawesome.com/releases/v5.8.1/js/all.js"
            integrity="sha384-g5uSoOSBd7KkhAMlnQILrecXvzst9TdC09/VM+pjDTCM+1il8RHz5fKANTFFb+gQ"
            crossorigin="anonymous"></script>
    <script src="https://kit.fontawesome.com/0969a8bc39.js"></script>
    {# Owl CSS #}
    <link rel="stylesheet" type="text/css" href="{% static 'css/owl.min.css' %}">
    {#for the carousel#}
    {# Global stylesheets #}
    <link rel="stylesheet" href='/static/css/cover.css'>
    <link rel="stylesheet" href='/static/css/bootstrap.css'>
    <link rel="stylesheet" href='/static/css/NavMENU.css'>
    <link rel="stylesheet" href='/static/css/owl.min.css'>
    <link rel="stylesheet" href='/static/css/hamburgerAnim.css'>
    <link rel="stylesheet" href='/static/css/w3Pop.css'>
    {#  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"#}
    {#  integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">#}
    {# <link rel="stylesheet" href='/static/css/NavMENU.css'> #}



    {% block extra_css %}
        {# Override this in templates to add extra stylesheets #}

    {% endblock %}
</head>
<body class="{% block body_class %}{% endblock %}">
{% wagtailuserbar %}

<div class="{% block page-css-class %}{% endblock %}">
    {# header #}
    <div class="hamburger">
        <label class="toggle" id="menuDisplay">
            <input type="checkbox" id="myCheck">
            <div>
                <div>
                    <span></span>
                    <span></span>
                </div>
                <svg>
                    <use xlink:href="#path">
                </svg>
                <svg>
                    <use xlink:href="#path">
                </svg>
            </div>
        </label>

        <svg xmlns="http://www.w3.org/2000/svg" style="display: none;">
            <symbol xmlns="http://www.w3.org/2000/svg" viewBox="0 0 44 44" id="path">
                <path d="M22,22 L2,22 C2,11 11,2 22,2 C33,2 42,11 42,22"></path>
            </symbol>
        </svg>
    </div>
    <header class="masthead mb-auto" id="menuPanel">
        <nav class="menu">
            <ol>
                <li class="menu-item"><a href="#0">Home</a></li>
                <li class="menu-item"><a href="#0">About</a></li>
                <li class="menu-item">
                    <a href="#0">Products</a>
                    <ol class="sub-menu">
                        <div class="column">
                            <h10>Doors</h10>
                            <li class="menu-item"><a href="Products.html">Speed</a></li>
                            <li class="menu-item"><a href="AndotherAction.html">Sectional</a></li>
                            <li class="menu-item"><a href="#0">Steel</a></li>
                        </div>
                        <div class="column">
                            <h10>Shutters</h10>
                            <li class="menu-item"><a href="Products.html">Commercial</a></li>
                            <li class="menu-item"><a href="AndotherAction.html">Fire Shutters</a></li>
                            <li class="menu-item"><a href="AndotherAction.html">Fire Curtains</a></li>
                            <li class="menu-item"><a href="#0">Industrial</a></li>
                            <li class="menu-item"><a href="Products.html">Insulated</a></li>
                            <li class="menu-item"><a href="Products.html">Smoke Curtains</a></li>
                        </div>
                        <div class="column">
                            <h10>Other</h10>
                            <li class="menu-item"><a href="Products.html">Partition Screens</a></li>
                            <li class="menu-item"><a href="Products.html">Loading Bays</a></li>
                            <li class="menu-item"><a href="Products.html">Fortress Trellidor</a></li>
                            <li class="menu-item"><a href="Products.html">Crime Guard Screen</a></li>
                            <li class="menu-item"><a href="Products.html">Security Gates</a></li>
                        </div>
                    </ol>
                </li>
                <li class="menu-item">
                    <a href="#0">Services</a>
                    <ol class="sub-menu">
                        <li class="menu-item"><a href="#0">Shishkabobs</a></li>
                        <li class="menu-item"><a href="#0">BBQ kabobs</a></li>
                        <li class="menu-item"><a href="#0">Summer kabobs</a></li>
                    </ol>
                </li>
                <li class="menu-item"><a href="#0">Contact</a></li>
            </ol>
        </nav>
    </header>
    {# /header #}
    {% block content %}{% endblock %}
    {# footer #}
    <footer class="mastfoot mt-auto">
        <div class="inner">
            <p>Cover template for <a href="https://getbootstrap.com/">Bootstrap</a>, by <a
                    href="https://twitter.com/mdo">@mdo</a>.</p>
        </div>
    </footer>
    {# footer #}
</div>

{# Global javascript #}
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"
        integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script>window.jQuery || document.write('<script src="../../assets/js/vendor/jquery-slim.min.js"><\/script>')</script>
<script src="../../assets/js/vendor/popper.min.js"></script>
<script src="../../dist/js/bootstrap.min.js"></script>
<script src="../../static/js/hamburgerAnim.js"></script>
{##<script type="text/javascript" src="{% static 'js/bootstrap.bundle.min.js' %}"></script>##}
<script type="text/javascript" src="{% static 'js/owl.min.js' %}"></script>
{#<script type="text/javascript" src="{% static 'js/match-height.min.js' %}"></script>#}
<script type="text/javascript" src="Merci {% static 'js/scripts.js' %}"></script>
{% block extra_js %}
    {# Override this in templates to add extra javascript #}

{% endblock %}
</body>
</html>