<nav class="menu">
    <ol>
        <li class="menu-item"><a href="/"><i class="fa fa-home"></i> Home</a></li>
        <li class="menu-item">
            <a href="#0">About</a>
            <ol class="sub-menu">
                <li class="menu-item"><a href="/about">The Past</a></li>
                <li class="menu-item"><a href="/blog">Current</a></li>
            </ol>
        </li>
        <li class="menu-item">
            <a href="#0">Products</a>
            <ol class="sub-menu">
                <li class="menu-item"><a href="/products">Overview</a></li>
                <div class="column">
                    <h10>Security</h10>
                    <li class="menu-item"><a href="/speed-door">Standard</a></li>
                    <li class="menu-item"><a href="/sectional-door">Wrap Around</a></li>
                    <li class="menu-item"><a href="/steel-door">SR3</a></li>
                </div>
                <div class="column">
                    <h10>Fire</h10>
                    <li class="menu-item"><a href="/commercial-shutters">Commercial</a></li>
                    <li class="menu-item"><a href="/fire-shutters">Fire Shutters</a></li>
                    <li class="menu-item"><a href="/fire-curtains">Fire Curtains</a></li>
                    <li class="menu-item"><a href="/industrial-shutters">Industrial</a></li>
                    <li class="menu-item"><a href="/insulated-shutters">Insulated</a></li>
                    <li class="menu-item"><a href="/smoke-curtains">Smoke Curtains</a></li>
                </div>
                <div class="column">
                    <h10>Ballistics</h10>
                    <li class="menu-item"><a href="/partition-screens">Partition Screens</a></li>
                    <li class="menu-item"><a href="/loading-bays">Loading Bays</a></li>
                    <li class="menu-item"><a href="/fortress-trellidor">Fortress Trellidor</a></li>
                    <li class="menu-item"><a href="/crime-guard-screens">Crime Guard Screen</a></li>
                    <li class="menu-item"><a href="/security-gates">Security Gates</a></li>
                </div>
            </ol>
        </li>
        <li class="menu-item">
            <a href="#0">Services</a>
            <ol class="sub-menu">
                <li class="menu-item"><a href="/pro-tec">Pro-Tec Colours</a></li>
                <li class="menu-item"><a href="/Servicing">Servicing</a></li>
                <li class="menu-item"><a href="/architect-page">Architects</a></li>
                <li class="menu-item"><a href="/faq">FAQ's</a></li>
            </ol>
        </li>
        <li class="menu-item"><a href="/contact-us">Contact Us</a></li>
    </ol>
</nav>
