{% load static wagtailuserbar %}

<!DOCTYPE html>
<html class="no-js" lang="en">
<head>
    <meta charset="utf-8"/>
    <link rel="icon" type="image/png" href="../../media/original_images/fortress_sefa_ico.png"/>
    <title>
        {% block title %}
            {% if self.seo_title %}{{ self.seo_title }}{% else %}{{ self.title }}{% endif %}
        {% endblock %}
        {% block title_suffix %}
            {% with self.get_site.site_name as site_name %}
                {% if site_name %}| {{ site_name }}{% endif %}
            {% endwith %}
        {% endblock %}
    </title>
    <meta name="description" content="{% block meta_descr %}{% endblock %}"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    {#    #responsive stuff to work bootstrap##}
    {# Fonts #}
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,500,600,700" rel="stylesheet">
    <script defer src="https://use.fontawesome.com/releases/v5.8.1/js/all.js"
            integrity="sha384-g5uSoOSBd7KkhAMlnQILrecXvzst9TdC09/VM+pjDTCM+1il8RHz5fKANTFFb+gQ"
            crossorigin="anonymous"></script>
    <script src="https://kit.fontawesome.com/0969a8bc39.js"></script>
    <script src="https://kit.fontawesome.com/c730198b71.js" crossorigin="anonymous"></script>

    {# Owl CSS #}
    {#for the carousel#}
    {# Global stylesheets #}
    <link rel="stylesheet" href="{% static '/css/not_found.css' %}">
    <link rel="stylesheet" href="{% static '/css/cover_2.0.css' %}">
    <link rel="stylesheet" href="{% static '/css/bootstrap.css' %}">
    <link rel="stylesheet" href="{% static '/css/NavMENU.css' %}">


    {#  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"#}
    {#  integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">#}
    {# <link rel="stylesheet" href='/static/css/NavMENU.css'> #}

    {# Global js #}


    {% block extra_css %}
        {# Override this in templates to add extra stylesheets #}

    {% endblock %}

</head>

<body class="{% block body_class %}bg-image{% endblock %}">
{% wagtailuserbar %}

<div class="{% block page-css-class %}{% endblock %} ">
    {% block content %}

    {% endblock %}
</div>


{# Global javascript #}


{#<script type="text/javascript" src="{% static 'js/match-height.min.js' %}"></script>#}
{% block extra_js %}
    {# Override this in templates to add extra javascript #}

{% endblock %}


</body>
</html>
