<div class="slant-in">
    <div class="banner">
        <div class="clipped">
            <div class="product_head">
                <div class="css-typing">
                    <p>
                        View below information on {{ page.title }}
                    </p>
                    <p>
                        <a href="/contact-page/">Contact us</a> for more information
                    </p>

                    <p>
                        Architects see <a href="/architect-page/">architect page!</a>
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>